@charset "utf-8"; 
/* NHN > UIT Center > Open UI Tech. Team > Jeong Chan Myeong(dece24@nhncorp.com) */

/* XE Black Theme */

/* Board Reset */
.board{ background:#000; color:#fff;}
.board .inputText,
.board textarea,
.board select{ background:#222; color:#fff; border-color:#444 #555 #555 #444 !important;}
.board .document_popup_menu a,
.board .comment_popup_menu a{ color:#8b8b8b;}
.board .boardNavigation{ border-color:#666 !important;}
.board .xe_content{ color:#ddd;}

/* Board Header */
.boardHeader .boardTitle{ border-color:#999 !important; }
.boardHeader .boardTitleText{ border-color:#ccc !important; background-image:url(../img/black/lineVr11.gif);}
.boardHeader .boardTitleText a{ color:#fff;}
.boardHeader .boardTitleText em{ color:#ccc;}
.boardHeader .boardDescription{ background:#333; }

/* Board Information */
.boardInformation em,
.boardInformation strong{ color:#ff6600;}
.boardInformation .infoView li.icon a{ background-image:url(../img/common/icons.gif);}
.boardInformation .infoView li.setup a{ background-image:url(../img/common/buttonSetup.gif);}

/* Board List Form */
.boardListForm em,
.boardListForm strong{color:#ff3636;}

/* Board List */
.boardList{ border-color:#666 !important;}
.boardList a{ color:#eee;}
.boardList .jumpTo button{ background-color:#333; border-color:#444 !important; color:#fff;}
.boardList .meta li{ background-image:url(../img/black/lineVr9.gif);}
.boardList .replyNum{ color:#ff3636;}
.boardList .trackbackNum{ color:#66c;}
.boardList .replyAnchor{ color:#6CF;}
.boardList th{ border-color:#555 !important; color:#fff;}
.boardList thead th{ background:#333;}
.boardList th a{ color:#66c;}
.boardList td{ border-color:#333 !important; color:#fff;}
.boardList td.title a.forum:link,
.boardList td.recommend{ color:#ff3636;}
.boardList td.summary .thumb{ border-color:#999 !important; background:#444;}
.boardList td .notice{ background-image:url(../img/black/lineVr9.gif);}
.boardList td .category{ color:#ddd; background-image:url(../img/black/lineVr9.gif);}
.boardList td .by{ color:#666;}

.boardList.webZine td.title p.summary a{ color:#888;}
.boardList.webZine td.title .thumb{ border-color:#999 !important;}

.thumbList{ border-color:#333 !important;}
.thumbList li .thumb{ background:#222; border-color:#333 !important;}
.thumbList li .thumb a .text{ color:#ccc;}
.thumbList li .thumb a .category{ background:#000; opacity:.6; filter:alpha(opacity=60); color:#fff;}
.thumbList li .thumb a .noPhoto{ background:#333;}
.thumbList li .title a{ color:#eee;}
.thumbList li .summary a{ color:#888;}

/* Search Form */
.boardSearchForm .infoEtc li a{ background-image:url(../img/common/buttonContributorAdmin.gif);}

/* Board Read */
.boardReadHeader a{ color:#eee;}
.boardReadHeader .titleArea{ border-color:#333 !important;}
.boardReadHeader .titleArea .category{ color:#b3b3b3; background-image:url(../img/black/lineVr9.gif);}
.boardReadHeader .titleArea .num{ color:#474747;}
.boardReadHeader .titleArea .date{ color:#474747; background-image:url(../img/black/lineVr9.gif);}
.boardReadHeader .authorArea .ipAddress{ color:#474747;}
.boardReadHeader .authorArea .permaLink{ color:#474747;}

.boardReadFooter .memberSignature{ border-color:#666 !important; background-color:#222; color:#ccc;}
.boardReadFooter .memberSignature img.profile { border-color:#888 !important;} 
.boardReadFooter .tag dd a{ color:#b3b3b3;}
.boardReadFooter .trackbackURL dt{ color:#b3b3b3;}
.boardReadFooter .trackbackURL dd a{ color:#474747;}

.feedbackList{ border-color:#8a8a8a !important;}
.feedbackList .feedbackHeader a{ color:#fff;}
.feedbackList .feedbackHeader em{ color:#ff6600;}
.feedbackList .trackbackURL a{ color:#474747;}
.feedbackList .item{ border-color:#666 !important;}
.feedbackList .item.itemReply .indent{ background-image:url(../img/common/iconReply.gif);}
.feedbackList .item .header{ color:#8b8b8b;}
.feedbackList .item .header a{ color:#eee;}
.feedbackList .item .itemContent .option li{ background-image:url(../img/black/lineVr9.gif);}
.feedbackList .item .itemContent .option li a{ color:#999;}
.feedbackList .item .itemContent .delete{ background-image:url(../img/common/buttonDelete.gif);}
.feedbackList .item .itemAside img.profile{ border-color:#333 !important;}
.feedbackList .item .itemAside .meta{ color:#474747;}
.feedbackList .item .itemAside .vote *{ color:#8b8b8b;}
.feedbackList .item .itemAside .vote dt{background-image:url(../img/common/iconLove.gif); border-color:#666 !important;}

/* Time */
.time *{ color:#ccc;}
.time dt{ background:#000;}

/* Attached File */
.attachedFile ul.files a{background-image:url(../img/common/iconFile.gif); color:#b3b3b3;}
.attachedFile dt a { color:#b3b3b3;}
.attachedFile ul.files a .bubble{ border-color:#333 !important; background-color:#000; color:#b3b3b3;}

/* Editor */
.board .boardEditor{ border-color:#666 !important; background:#333;}

/* Messages */
.board .deleteForm fieldset,
.board .requirePassword fieldset,
.board .message,
.board .secretMessage fieldset{ border-color:#333 !important;}

/* Extra Var Table */
.extraVarsList{ border-color:#333 !important;}
.extraVarsList caption{ color:#999;}
.extraVarsList em{ color:#ff6600;}
.extraVarsList th,
.extraVarsList td{ border-color:#333 !important; color:#767676;}
.extraVarsList th{ background:#222;}
.extraVarsList td{ background:#000;}
.extraVarsList td input,
.extraVarsList td textarea,
.extraVarsList td select{ background:#333; border-color:#444 #555 #555 #444 !important; color:#ccc;}

/* Tag Cloud */
.tagCloud{ border-color:#666 !important;}
.tagCloud li.rank1 a{ color:#fff;}
.tagCloud li.rank2 a{ color:#ddd;}
.tagCloud li.rank3 a{ color:#bbb;}
.tagCloud li.rank4 a{ color:#999;}
.tagCloud li.rank5 a{ color:#777;}

/* Pagination */
.pagination a.prev,
.pagination a.prevEnd,
.pagination a.next,
.pagination a.nextEnd,
.pagination strong{ color:#666;}
.pagination strong{ color:#ff3636 !important;}

/* popup_menu_area */
#popup_menu_area{background:#333; border-color:#666 !important;}
#popup_menu_area li a{ color:#ccc;}

/* waitingforserverresponse */
#waitingforserverresponse{ border-color:#666 !important;}

/* -- Button Reset -- */
span.button,
span.button a,
span.button button,
span.button input{ background-image:url(../img/common/buttonBlack.gif) !important; background-repeat:no-repeat; color:#eee !important;}
