@charset "utf-8"; 
/* NHN > UIT Center > Open UI Tech. Team > Jeong Chan Myeong(dece24@nhncorp.com) */

/* XE White Theme */

/* Board Reset */
.board{ background:#fff; color:#333;}
.board .inputText,
.board textarea,
.board select{ background:#fff; color:#333; border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6 !important;}
.board .document_popup_menu a,
.board .comment_popup_menu a{ color:#8b8b8b;}
.board .boardNavigation{ border-color:#ccc !important;}

/* Board Header */
.boardHeader .boardTitle{ border-color:#ddd !important;}
.boardHeader .boardTitleText{ border-color:#666 !important; background-image:url(../img/white/lineVr11.gif);}
.boardHeader .boardTitleText a{ color:#000;}
.boardHeader .boardTitleText em{ color:#666;}
.boardHeader .boardDescription{ background:#f8f8f8; }

/* Board Information */
.boardInformation em,
.boardInformation strong{ color:#ff6600;}
.boardInformation .infoView li.icon a{ background-image:url(../img/common/icons.gif);}
.boardInformation .infoView li.setup a{ background-image:url(../img/common/buttonSetup.gif);}

/* Board List Form */
.boardListForm em,
.boardListForm strong{color:#ff3636;}

/* Board List */
.boardList{ border-color:#ccc !important;}
.boardList a{ color:#4d4d4d;}
.boardList .jumpTo button{ background-color:#eee; border-color:#ccc !important; color:#000;}
.boardList .meta li{ background-image:url(../img/white/lineVr9.gif);}
.boardList .replyNum{ color:#ff3636;}
.boardList .trackbackNum{ color:#66c;}
.boardList .replyAnchor{ color:#06C;}
.boardList th{ border-color:#ccc !important; color:#4d4d4d;}
.boardList thead th{ background:#f8f8f8;}
.boardList th a{ color:#66c;}
.boardList td{ border-color:#ddd !important; color:#4d4d4d;}
.boardList td.title a.forum:link,
.boardList td.recommend{ color:#ff3636;}
.boardList td.summary .thumb{ border-color:#ddd !important; background:#fff;}
.boardList td .notice{ background-image:url(../img/white/lineVr9.gif);}
.boardList td .category{ color:#888; background-image:url(../img/white/lineVr9.gif);}
.boardList td .by{ color:#ccc;}

.boardList.webZine td.title p.summary a{ color:#888;}
.boardList.webZine td.title .thumb{ border-color:#e0e0e0 !important;}

.thumbList{ border-color:#ddd !important;}
.thumbList li .thumb{ background:#fff; border-color:#ddd !important;}
.thumbList li .thumb a .text{ color:#ccc;}
.thumbList li .thumb a .category{ background:#000; opacity:.6; filter:alpha(opacity=60); color:#fff;}
.thumbList li .thumb a .noPhoto{ background:#eee;}
.thumbList li .title a{ color:#262626;}
.thumbList li .summary a{ color:#888;}

/* Search Form */
.boardSearchForm .infoEtc li a{ background-image:url(../img/common/buttonContributorAdmin.gif);}

/* Board Read */
.boardReadHeader a{ color:#262626;}
.boardReadHeader .titleArea{ border-color:#ccc !important;}
.boardReadHeader .titleArea .category{ color:#4d4d4d; background-image:url(../img/white/lineVr9.gif);}
.boardReadHeader .titleArea .num{ color:#adadad;}
.boardReadHeader .titleArea .date{ color:#adadad; background-image:url(../img/white/lineVr9.gif);}
.boardReadHeader .authorArea .ipAddress{ color:#adadad;}
.boardReadHeader .authorArea .permaLink{ color:#adadad;}

.boardReadFooter .memberSignature{ border-color:#f0f0f0 !important; background-color:#fdfdfd; color:#666;}
.boardReadFooter .memberSignature img.profile { border-color:#eee !important;} 
.boardReadFooter .tag dd a{ color:#4d4d4d;}
.boardReadFooter .trackbackURL dt{ color:#4d4d4d;}
.boardReadFooter .trackbackURL dd a{ color:#adadad;}

.feedbackList{ border-color:#f0f0f0 !important;}
.feedbackList .feedbackHeader a{ color:#000;}
.feedbackList .feedbackHeader em{ color:#ff6600;}
.feedbackList .trackbackURL a{ color:#adadad;}
.feedbackList .item{ border-color:#f0f0f0 !important;}
.feedbackList .item.itemReply .indent{ background-image:url(../img/common/iconReply.gif);}
.feedbackList .item .header{ color:#8b8b8b;}
.feedbackList .item .header a{ color:#262626;}
.feedbackList .item .itemContent .option li{ background-image:url(../img/white/lineVr9.gif);}
.feedbackList .item .itemContent .option li a{ color:#666;}
.feedbackList .item .itemContent .delete{ background-image:url(../img/common/buttonDelete.gif);}
.feedbackList .item .itemAside img.profile{ border-color:#eee !important;}
.feedbackList .item .itemAside .meta{ color:#adadad;}
.feedbackList .item .itemAside .vote *{ color:#8b8b8b;}
.feedbackList .item .itemAside .vote dt{background-image:url(../img/common/iconLove.gif); border-color: #e5e5e5 !important;}
	
/* Time */
.time *{ color:#666;}
.time dt{ background:#fff;}

/* Attached File */
.attachedFile ul.files a{ background-image:url(../img/common/iconFile.gif); color:#4d4d4d;}
.attachedFile dt a { color:#4d4d4d;}
.attachedFile ul.files a .bubble{ border-color:#ddd !important; background-color:#fff; color:#4d4d4d;}

/* Editor */
.board .boardEditor{ border-color:#ddd !important; background:#f8f8f8;}

/* Messages */
.board .deleteForm fieldset,
.board .requirePassword fieldset,
.board .message,
.board .secretMessage fieldset{ border-color:#ddd !important;}

/* Extra Var Table */
.extraVarsList{ border-color:#eee !important;}
.extraVarsList caption{ color:#999;}
.extraVarsList em{ color:#ff6600;}
.extraVarsList th,
.extraVarsList td{ border-color:#eee !important; color:#767676;}
.extraVarsList th{ background:#f8f8f8;}
.extraVarsList td{ background:#fff;}
.extraVarsList td input,
.extraVarsList td textarea,
.extraVarsList td select{ background:#fff; border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6 !important; color:#767676;}

/* Tag Cloud */
.tagCloud{ border-color:#ccc !important;}
.tagCloud li.rank1 a{ color:#000;}
.tagCloud li.rank2 a{ color:#222;}
.tagCloud li.rank3 a{ color:#444;}
.tagCloud li.rank4 a{ color:#666;}
.tagCloud li.rank5 a{ color:#888;}

/* Pagination */
.pagination a.prev,
.pagination a.prevEnd,
.pagination a.next,
.pagination a.nextEnd,
.pagination strong{ color:#4d4d4d;}
.pagination strong{ color:#ff3636 !important;}

/* popup_menu_area */
#popup_menu_area{background:#fff; border-color:#eee !important;}
#popup_menu_area li a{ color:#000;}

/* waitingforserverresponse */
#waitingforserverresponse{ border-color:#eee !important;}
