@charset "utf-8";

/* board Title */
.boardHeaderleft h1,
.boardHeaderleft h2,
.boardHeaderleft h3,
.boardHeaderleft h4,
.boardHeaderleft h5,
.boardHeaderleft h6 { margin:25px 0 0 25px; text-align:left; }
.boardHeaderleft { float:left; width:90%; background:url(../images/orange/tl.gif) no-repeat left top; height:60px; overflow:hidden;}
.boardHeaderright { _float:right; width:10%; background:url(../images/orange/tr.gif) no-repeat right top; height:60px; overflow:hidden; }

/* board Description */
.boardDescription { border:1px solid #ff6600; border-top:none; padding:10px 10px 5px 10px; margin-top:0px; background-color:#FFD1B2; overflow:hidden; }

/* board Information */
.articleNum { float:left; background:url(../images/orange/iconArticle.gif) no-repeat left top; }
.articleNum strong { font:bold 11px Tahoma; color:#2895c0;}

/* account Navigation */
.accountNavigation li.join a { background:url(../images/orange/iconMyInfo.gif) no-repeat left top; padding-left:14px; }
.accountNavigation li.myInfo a { background:url(../images/orange/iconMyInfo.gif) no-repeat left top; padding-left:14px; }

/* style.list */
.boardList th { background:#ffffff url(../images/orange/lineBoardListTh.gif) no-repeat left bottom; }
.boardList td.recommend { color:#2895c0; }
.boardList td .replyAndTrackback { color:#2895c0; }
.buttonTypeGo { background:url(../images/orange/buttonTypeInput24.gif) no-repeat; }

/* pagination */
.pagination strong { color:#2895c0; !important; }

/* boardRead */
.boardRead .titleAndUser .title .title1 a { color:#ff6600; text-decoration:none; }
.boardRead .titleAndUser .title .title1 a:hover { color:#CE5300; }
.boardRead .fileAttached li { background:url(../images/orange/iconFile.gif) no-repeat left top;}
.boardRead .readHeader .dateLabel { background:url(../images/orange/cal.png); }
.boardRead .readHeader .dateLabel .dateMonth { color:#ffffff; }
.boardRead .titleAndUser span.replyCount { background:url(../images/orange/iconReply.gif) no-repeat; }

/* replyAndTrackback */
.buttonBox .replyAndTrackback a strong { color:#2895c0;}
.replyBox .fileAttached li { background:url(../images/orange/iconFile.gif) no-repeat left top;}
