{@$list_count = 0}

<form action="./" method="get" class="boardListForm">
    <fieldset>
        <legend>List of Articles</legend>
        <table cellspacing="0" border="1" summary="List of Articles" class="boardList1 webZine1">
			<thead>
                <tr>
					<!--// 목록 설정으로 table theader 생성 -->
					<!--@foreach($list_config as $key => $val)-->
						<!--// 기본 컨텐츠일 경우 -->
						<!--@if($val->idx == -1)-->
	
							<!--// 컨텐츠 종류에 따라서 출력 -->
							<!--@if($val->type == 'no')-->
							    {@$list_count++}							
								<th scope="col">{$lang->no}</th>
							<!--@elseif($val->type == 'title')-->
							    {@$list_count++}														
								<th scope="col" class="title">
									<!--@if($module_info->use_category == "Y" && $module_info->category_style == "list_select")-->
									<span class="jumpTo">
										<select name="category" id="board_category">
											<option value="">{$lang->category}</option>
											<!--@foreach($category_list as $val)-->
											<option value="{$val->category_srl}" <!--@if($category==$val->category_srl)-->selected="selected"<!--@end-->>{str_repeat("&nbsp;&nbsp;",$val->depth)} {$val->title} <!--@if($val->document_count)-->({$val->document_count})<!--@end--></option>
											<!--@end-->
										</select>
										<button type="button" name="go_button" id="go_button" onclick="doChangeCategory(); return false;" class="button">Go</button>
									</span>
									<!--@end-->
									{$lang->title}
								</th>
							<!--@elseif($val->type == 'regdate')-->
							    {@$list_count++}														
								<th scope="col"><a href="{getUrl('sort_index','regdate','order_type',$order_type)}">{$lang->date}<!--@if($sort_index=='regdate')--><img src="./img/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th>
							<!--@elseif($val->type == 'last_update')-->
							    {@$list_count++}														
								<th scope="col"><a href="{getUrl('sort_index','last_update','order_type',$order_type)}">{$lang->last_update}<!--@if($sort_index=='last_update')--><img src="./img/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th>
							<!--@elseif($val->type == 'nick_name')-->
							    {@$list_count++}														
								<th scope="col">{$lang->writer}</th>
							<!--@elseif($val->type == 'user_id')-->
							    {@$list_count++}														
								<th scope="col">{$lang->user_id}</th>
							<!--@elseif($val->type == 'user_name')-->
							    {@$list_count++}														
								<th scope="col">{$lang->user_name}</th>
							<!--@elseif($val->type == 'readed_count')-->
							    {@$list_count++}														
								<th scope="col"><a href="{getUrl('sort_index','readed_count','order_type',$order_type)}">{$lang->readed_count}<!--@if($sort_index=='readed_count')--><img src="./img/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th>
							<!--@elseif($val->type == 'voted_count')-->
							    {@$list_count++}														
								<th scope="col"><a href="{getUrl('sort_index','voted_count','order_type',$order_type)}">{$lang->voted_count}<!--@if($sort_index=='voted_count')--><img src="./img/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th>
							<!--@elseif($val->type == 'last_post')-->
							    {@$list_count++}														
                                <th scope="col"><a href="{getUrl('sort_index','last_update','order_type',$order_type)}">{$lang->last_post}<!--@if($sort_index=='last_update')--><img src="./img/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th>
							<!--@end-->
							<!--// 사용자 선언 확장변수일 경우 -->
							<!--@else-->
								<!--@if(!(!$grant->manager && $val->eid == 'ordering'))-->
								    {@$list_count++}
									<th scope="col">{$val->name}</th>
								<!--@end-->		
							<!--@end-->
						<!--@end-->
						<!--@if($grant->manager)--><th scope="col"><input type="checkbox" onclick="XE.checkboxToggleAll({ doClick:true }); return false;" title="Check All" /></th><!--@end-->
                    </tr>
			</thead>

			<tbody>
	
				<!--@if(!$document_list && !$notice_list)-->
				<tr>
					<td colspan="{$_col_count}">
						{$lang->no_documents}
					</td>
				</tr>
				<!--@else-->
			
				<!--@foreach($notice_list as $no => $document)-->
				<tr class="notice">
					<!--// 목록 설정으로 table theader 생성 -->
					<!--@foreach($list_config as $key => $val)-->
	
						<!--// 기본 컨텐츠일 경우 -->
						<!--@if($val->idx == -1)-->
	
							<!--// 컨텐츠 종류에 따라서 출력 -->
							<!--@if($val->type == 'no')-->
								<td class="notice"><!--@if($document_srl == $document->document_srl)-->&raquo;<!--@else-->{$lang->notice}<!--@end--></td>
							<!--@elseif($val->type == 'title')-->
								<td class="title">
									<!--@if($module_info->use_category == "Y" && $document->get('category_srl') )-->
									<span class="category" <!--@if($module_info->category_cut_size< strlen($category_list[$document->get('category_srl')]->title) )-->title="{$category_list[$document->get('category_srl')]->title}"<!--@end--> <!--@if($category_list[$document->get('category_srl')]->color!="transparent")-->style="color:{$category_list[$document->get('category_srl')]->color};"<!--@end-->>{cut_str($category_list[$document->get('category_srl')]->title, $module_info->category_cut_size, '..')}</span>
									<!--@end-->


									<!--@if ($grant->manager!="Y" && $logged_info->user_id!=$document->get('user_id') && $module_info->use_link == "Y" && $document->getExtraEidValue('link_url'))-->
										<!--@if (!strstr($document->getExtraEidValue('link_url'),'http://'))-->
											{@$link_url = 'http://'.$document->getExtraEidValue('link_url');}
										<!--@else-->
											{@$link_url = $document->getExtraEidValue('link_url');}
										<!--@end-->

										<!--@if($read_count == $document->document_srl && $read_counted!="Y")-->
											{@	
												$oDocumentController = &getController('document');
												$oDocumentController->updateReadedCount($document);	
												$read_counted="Y";
											}
											<script>location.href="{getUrl('','mid',$mid,'page',$page,'document_srl','','listStyle',$listStyle)}"</script>
										<!--@end-->
										<a href="{getUrl('','read_count',$document->document_srl,'mid',$mid,'page',$page,'document_srl','','listStyle',$listStyle)}"  onclick="window.open('{$link_url}');" style="cursor:pointer">
									<!--@else-->
										<a <!--@if((!$document->isSecret() || $grant->manager=="Y") && $module_info->subject_mouseover=="subject" && ($module_info->subject_cut_size< strlen(strip_tags($document->getTitle())))  )-->title="{strip_tags($document->getTitle())}" <!--@elseif((!$document->isSecret() || $grant->manager=="Y") && $module_info->subject_mouseover=="content")-->title="{strip_tags($document->getContentText($module_info->content_cut_size))}"<!--@end--> href="{getUrl('document_srl',$document->document_srl, 'listStyle', $listStyle, 'cpage','')}">
									<!--@end-->
									{$document->getTitle($module_info->subject_cut_size)}</a>
									{$document->printExtraImages(60*60*$module_info->duration_new)}
									
									<!--@if($document->getCommentCount())-->
										<a href="{getUrl('document_srl', $document->document_srl)}#comment"><span class="replyNum" title="Replies">[{$document->getCommentCount()}]</span></a>
									<!--@end-->
	
									<!--@if($document->getTrackbackCount())-->
										<a href="{getUrl('document_srl', $document->document_srl)}#trackback"><span class="trackbackNum" title="Trackbacks">[{$document->getTrackbackCount()}]</span></a>
									<!--@end-->
	
								</td>
							<!--@elseif($val->type == 'regdate')-->
								<td class="date">{$document->getRegdate('Y-m-d')}</td>
							<!--@elseif($val->type == 'last_update')-->
								<td class="date">{zdate($document->get('last_update'),'Y-m-d H:i')}</td>
							<!--@elseif($val->type == 'nick_name')-->
								<td class="author"><a href="#popup_menu_area" class="member_{$document->get('member_srl')}" onclick="return false">{$document->getNickName()}</a></td>
							<!--@elseif($val->type == 'user_id')-->
								<td class="author">{$document->getUserID()}</a></td>
							<!--@elseif($val->type == 'user_name')-->
								<td class="author"><a href="#popup_menu_area" class="member_{$document->get('member_srl')}" onclick="return false">{$document->getUserName()}</a></td>
							<!--@elseif($val->type == 'readed_count')-->
								<td class="reading">{$document->get('readed_count')>0?$document->get('readed_count'):'&nbsp;'}</td>
							<!--@elseif($val->type == 'voted_count')-->
								<td class="recommend">{$document->get('voted_count')!=0?$document->get('voted_count'):'&nbsp;'}</td>
							<!--@elseif($val->type == 'last_post')-->
                                <td class="lastReply">
                                <!--@if((int)($document->get('comment_count'))>0)-->
                                    <a href="{$document->getPermanentUrl()}#comment" class="replyAnchor">{zdate($document->get('last_update'),'Y-m-d')} {zdate($document->get('last_update'),'H:i')}</a>
                                    <!--@if($document->get('last_updater'))-->
                                        <sub class="by">by</sub>
                                        {htmlspecialchars($document->get('last_updater'))}
                                    <!--@end-->
                                <!--@else-->
                                    &nbsp;
                                <!--@end-->
                                </td>
							<!--@end-->
	
						<!--// 사용자 선언 확장변수일 경우 -->
						<!--@else-->
								<td>{$document->getExtraValueHTML($val->idx)}&nbsp;</td>
						<!--@end-->
					<!--@end-->
					<!--@if($grant->manager)-->
						<td class="check"><input type="checkbox" name="cart" value="{$document->document_srl}" title="Check this" onclick="doAddDocumentCart(this)" <!--@if($document->isCarted())-->checked="checked"<!--@end--> /></td>
					<!--@end-->
				</tr>
				<!--@end-->
	
				<!--// 일반 글 출력 -->
				<tr class="bg{($no+1)%2+1}">
					<td class="title" colspan="{$list_count+1}"  style="margin-left:{$module_info->list_leftmargin}px; ">

					<!--@if($module_info->webzine_col>1)-->
					{@
					$webzine_col = (int)$module_info->webzine_col;
					$webzine_width=100/$webzine_col;
					$count=0;
					}
					<!--@else-->
					{@ $webzine_width=100;}
					<!--@end-->

					<table border=0 style="padding:0px; margin:0px; width:100%">
					<!--@foreach($document_list as $no => $document)-->
					<!--@if(  !($document->isSecret() && ($module_info->secret_list=="hide_all" || (($module_info->secret_list=="hide") && ($document->getUserID()!=$logged_info->user_id)) )) || $grant->manager )-->

					{@ $count++}

					<!--@if( $module_info->webzine_col<=1 || ($module_info->webzine_col>1 && $count % $module_info->webzine_col ==1))--><tr><!--@end-->
						<td class="title <!--@if($module_info->webzine_col>1)-->box<!--@end-->" style="width:{$webzine_width}%; vertical-align:top">
							<!--@if($list_config['thumbnail'])-->
								<!--@if ($grant->manager!="Y" && $logged_info->user_id!=$document->get('user_id') && $module_info->use_link == "Y" && $document->getExtraEidValue('link_url'))-->
									<!--@if (!strstr($document->getExtraEidValue('link_url'),'http://'))-->
										{@$link_url = 'http://'.$document->getExtraEidValue('link_url');}
									<!--@else-->
										{@$link_url = $document->getExtraEidValue('link_url');}
									<!--@end-->
			
									<!--@if($read_count == $document->document_srl && $read_counted!="Y")-->
										{@	
											$oDocumentController = &getController('document');
											$oDocumentController->updateReadedCount($document);	
											$read_counted="Y";
										}
										<script>location.href="{getUrl('','mid',$mid,'page',$page,'document_srl','','listStyle',$listStyle)}"</script>
									<!--@end-->
									<a href="{getUrl('','read_count',$document->document_srl,'mid',$mid,'page',$page,'document_srl','','listStyle',$listStyle)}"  onclick="window.open('{$link_url}');" class="thumb" style="cursor:pointer">
								<!--@else-->
									<a href="{getUrl('document_srl',$document->document_srl,'listStyle',$listStyle, 'cpage','')}" class="thumb">
								<!--@end-->
								<!--@if($document->thumbnailExists($module_info->thumbnail_width, $module_info->thumbnail_height, $module_info->thumbnail_type))-->
									<img src="{$document->getThumbnail($module_info->thumbnail_width, $module_info->thumbnail_height, $module_info->thumbnail_type)}" style="padding:{$module_info->thumbnail_padding}px;"/>
								<!--@else-->
									<img src="./img/{$module_info->colorset}/noimage.gif"  style="width:{$module_info->thumbnail_width}px; height:{$module_info->thumbnail_height}px; padding:{$module_info->thumbnail_padding}px;">
								<!--@end-->
									</a>
							<!--@end-->
							{@$_meta_display = false}

							<!--@foreach($list_config as $key => $val)-->
			
								<!--// 기본 컨텐츠일 경우 -->
								<!--@if($val->idx == -1)-->
									<!--@if($val->type == 'title')-->
										<!--@if($_meta_display)--></ul>{@$_meta_display = false}<!--@end-->
										<p class="title">
										<!--@if($document->isSecret() && $module_info->secret_list=="delete" && $grant->manager!="Y" )-->
											<span>{$lang->secret_delete}</span>
										<!--@else-->
											<!--@if($module_info->use_category == "Y" && $module_info->display_category=="Y" && $document->get('category_srl') )-->
											<span class="category" <!--@if($module_info->category_cut_size< strlen($category_list[$document->get('category_srl')]->title) )-->title="{$category_list[$document->get('category_srl')]->title}"<!--@end--> <!--@if($category_list[$document->get('category_srl')]->color!="transparent")-->style="color:{$category_list[$document->get('category_srl')]->color};"<!--@end-->>{cut_str($category_list[$document->get('category_srl')]->title, $module_info->category_cut_size, '..')}</span>
											<!--@end-->


											<!--@if ($grant->manager!="Y" && $logged_info->user_id!=$document->get('user_id') && $module_info->use_link == "Y" && $document->getExtraEidValue('link_url'))-->
												<!--@if (!strstr($document->getExtraEidValue('link_url'),'http://'))-->
													{@$link_url = 'http://'.$document->getExtraEidValue('link_url');}
												<!--@else-->
													{@$link_url = $document->getExtraEidValue('link_url');}
												<!--@end-->

												<!--@if($read_count == $document->document_srl && $read_counted!="Y")-->
													{@	
														$oDocumentController = &getController('document');
														$oDocumentController->updateReadedCount($document);	
														$read_counted="Y";
													}
													<script>location.href="{getUrl('','mid',$mid,'page',$page,'document_srl','','listStyle',$listStyle)}"</script>
												<!--@end-->
												<a href="{getUrl('','read_count',$document->document_srl,'mid',$mid,'page',$page,'document_srl','','listStyle',$listStyle)}"  onclick="window.open('{$link_url}');" style="cursor:pointer">
											<!--@else-->
												<a <!--@if((!$document->isSecret() || $grant->manager=="Y") && $module_info->subject_mouseover=="subject" && ($module_info->subject_cut_size< strlen(strip_tags($document->getTitle())))  )-->title="{strip_tags($document->getTitle())}" <!--@elseif((!$document->isSecret() || $grant->manager=="Y") && $module_info->subject_mouseover=="content")-->title="{strip_tags($document->getContentText($module_info->content_cut_size))}"<!--@end--> href="{getUrl('document_srl',$document->document_srl, 'listStyle', $listStyle, 'cpage','')}">
											<!--@end-->
											<!--@if($document->isSecret() && $module_info->secret_list=="delete" && $grant->manager=="Y" )-->
											<span>{$lang->secret_delete}</span>
											<!--@else-->
											<span class="webzine_title">{$document->getTitle($module_info->subject_cut_size)}</span>
											<!--@end-->
											</a>
											{$document->printExtraImages(60*60*$module_info->duration_new)}
											<!--@if($document->getCommentCount())-->
												<a href="{getUrl('document_srl', $document->document_srl)}#comment"><span class="replyNum" title="Replies">[{$document->getCommentCount()}]</span></a>
											<!--@end-->
											<!--@if($document->getTrackbackCount())-->
												<a href="{getUrl('document_srl', $document->document_srl)}#trackback"><span class="trackbackNum" title="Trackbacks">[{$document->getTrackbackCount()}]</span></a>
											<!--@end-->
										<!--@end-->
										</p>
									<!--@elseif($val->type == 'last_post' && $document->get('comment_count')>0)-->
										<!--@if($_meta_display)--></ul>{@$_meta_display = false}<!--@end-->
										<p class="title">
											<a href="{$document->getPermanentUrl()}#comment" class="replyAnchor">{zdate($document->get('last_update'),'Y-m-d')} {zdate($document->get('last_update'),'H:i')}</a>
											<!--@if($document->get('last_updater'))-->
												<sub class="by">by</sub>
												{htmlspecialchars($document->get('last_updater'))}
											<!--@end-->
										</p>
									<!--@elseif($val->type=='summary')-->
										<!--@if($document->isSecret() && $module_info->secret_list=="delete" && $grant->manager!="Y" )-->
											<p class="summary">{$lang->secret_delete}</p>
										<!--@else-->
											<!--@if($_meta_display)--></ul>{@$_meta_display = false}<!--@end-->
											<p class="summary">
											<!--@if ($grant->manager!="Y" && $logged_info->user_id!=$document->get('user_id') && $module_info->use_link == "Y" && $document->getExtraEidValue('link_url'))-->
												<!--@if (!strstr($document->getExtraEidValue('link_url'),'http://'))-->
													{@$link_url = 'http://'.$document->getExtraEidValue('link_url');}
												<!--@else-->
													{@$link_url = $document->getExtraEidValue('link_url');}
												<!--@end-->

												<!--@if($read_count == $document->document_srl && $read_counted!="Y")-->
													{@	
														$oDocumentController = &getController('document');
														$oDocumentController->updateReadedCount($document);	
														$read_counted="Y";
													}
													<script>location.href="{getUrl('','mid',$mid,'page',$page,'document_srl','','listStyle',$listStyle)}"</script>
												<!--@end-->
												<a href="{getUrl('','read_count',$document->document_srl,'mid',$mid,'page',$page,'document_srl','','listStyle',$listStyle)}"  onclick="window.open('{$link_url}');" style="cursor:pointer">
											<!--@else-->
												<a href="{getUrl('document_srl',$document->document_srl, 'listStyle', $listStyle, 'cpage','')}" style="cursor:pointer">
											<!--@end-->
											<!--@if($module_info->summary_use_html=="Y")-->
											{cut_str($document->getContent(false),$module_info->content_cut_size)}
											<!--@else-->
											{$document->getSummary($module_info->content_cut_size)}
											<!--@end-->
										</a></p>
										<!--@end-->
									<!--@elseif(in_array($val->type,array('regdate','last_update', 'nick_name','user_id','user_name','readed_count','voted_count')))-->
										<!--@if(!$_meta_display)--><ul class="meta">{@$_meta_display = true}<!--@end-->
										<!--@if($val->type == 'regdate')-->
											<li class="date">{$document->getRegdate('Y-m-d')}</li>
										<!--@elseif($val->type == 'last_update')-->
											<li class="date">{zdate($document->get('last_update'),'Y-m-d H:i')}</li>
										<!--@elseif($val->type == 'nick_name')-->
											<li class="author"><a href="#popup_menu_area" class="member_{$document->get('member_srl')}" onclick="return false">{$document->getNickName()}</a></li>
										<!--@elseif($val->type == 'user_id')-->
											<li class="author">{$document->getUserID()}</a></li>
										<!--@elseif($val->type == 'user_name')-->
											<li class="author"><a href="#popup_menu_area" class="member_{$document->get('member_srl')}" onclick="return false">{$document->getUserName()}</a></li>
										<!--@elseif($val->type == 'readed_count')-->
											<li class="reading">{$lang->readed_count} {$document->get('readed_count')>0?$document->get('readed_count'):'0'}</li>
										<!--@elseif($val->type == 'voted_count')-->
											<li class="recommend">{$lang->voted_count} {$document->get('voted_count')!=0?$document->get('voted_count'):'0'}</li>
										<!--@end-->
									<!--@end-->
								<!--@else-->
									<!--@if($_meta_display)--></ul>{@$_meta_display = false}<!--@end-->
									<!--@if(!(!$grant->manager && $val->eid == 'ordering'))-->
										<p class="title"><span class="category">{$val->name}</span> {$document->getExtraValueHTML($val->idx)}&nbsp;</p>
									<!--@end-->
								<!--@end-->
							<!--@end-->
							<!--@if($_meta_display)--></ul>{@$_meta_display = false}<!--@end-->
						</td>
						
						<td class="check" style="width:20px; padding-left:0px; padding-right:0px;  vertical-align:top; text-align:left; <!--@if( $module_info->webzine_col>1 )-->border:0px<!--@end-->" ><!--@if($grant->manager)--><input type="checkbox" name="cart" value="{$document->document_srl}" title="Check this" onclick="doAddDocumentCart(this)" <!--@if($document->isCarted())-->checked="checked"<!--@end--> /><!--@else-->&nbsp;&nbsp;&nbsp;&nbsp;<!--@end--></td>

					<!--@if($module_info->webzine_col<=1 || ( $module_info->webzine_col>1 && $count % $module_info->webzine_col ==0 ))-->
						</tr>
						<!--@if( $module_info->webzine_col>1 )--><tr><td colspan="{$module_info->webzine_col*2}" style="padding:0px; margin:0px; border:0px solid red; height:10px; ">&nbsp;</td></tr><!--@end-->
					<!--@end-->

				<!--@end-->
				<!--@end-->
				</table></td></tr>
			<!--@end-->
			</tbody>
        </table>
		
    </fieldset>
</form>
