@charset "utf-8";
.bodexList th {text-align:right}
.bodexList tr.itembox td {padding:2px 0}

.bodexList .downloadBox {margin:0 0 .3em 0;padding:3px 0;border-bottom:1px solid; white-space:normal; overflow:hidden; vertical-align:top; text-align:left; *zoom:1}

.bodexList .downloadBox div.thumb {float:left;text-align:center;border:1px solid; margin:0 7px 0 0}
.bodexList .downloadBox div.thumbfr {float:right;margin:0 0 0 7px}
.bodexList .downloadBox div.thumb img {padding:2px}

.bodexList .downloadBox div.info ul {margin:0; padding:0;*zoom:1}
.bodexList .downloadBox div.info li {padding:0 2px;list-style:none; white-space:normal; overflow:hidden}
.bodexList .downloadBox div.info li.title {padding:.4em 2px .1em; border-top:1px solid}
.bodexList .downloadBox div.info li.title a {text-decoration:none;font-weight:bold;font-size:1.2em}
.bodexList .downloadBox div.info li.title .checkbox {font-size:1px; margin:0; padding:0}

.bodexList .downloadBox div.info li.exAndSummary {margin:.3em 0 .3em 0}
.bodexList .downloadBox div.info li .category {float:left}
.bodexList .downloadBox div.info li .category strong {margin-right:3px; font-size:1em; line-height:1em; padding-right:5px}
.bodexList .downloadBox div.info li .category span.author span {cursor:pointer}
.bodexList .downloadBox div.info li .categoryAndStar {margin-bottom:3px;*zoom:1}
.bodexList .downloadBox div.info li .categoryAndStar:after { content:""; clear:both; display:block}

.bodexList .downloadBox div.info li.exAndSummary span.button {margin-top:5px}

.bodexList .downloadBox div.info li .star li {margin:0;font-weight:bold;text-align:right}
.bodexList .downloadBox div.info li .star span.voted_count ,
.bodexList .downloadBox div.info li .star span.blamed_count {padding-left:1.2em; font-weight:bold;font-size:.9em;background:url(../images/common/iconLove.gif) no-repeat left top}
.bodexList .downloadBox div.info li .star span.voted_count {background-position:0 1px}
.bodexList .downloadBox div.info li .star span.blamed_count {margin-left:.5em;background-position:0 -15px}
.bodexList .downloadBox div.info li .star div {margin-bottom:.1em;font-size:1em;line-height:1.2em}

.bodexList .downloadBox div.info li .last_updater {font:.9em Tahoma}

.bodexList .downloadBox div.info li .extravalue {padding:2px}
.bodexList .downloadBox div.info li .summary {margin:.7em 0 .3em 0; white-space:normal}
.bodexList .downloadBox div.info li .summary:first-letter { font-size: 200%; font-weight: bold; float:left}

.bodexList .downloadBox div.date {float:right;height:1.2em;font:.9em Tahoma}
.bodexList .downloadBox div.date a {text-decoration:none}


