@charset "utf-8";

 /* bodexList memo */
.bodexList th {text-align:left}

.bodexList .title .writeMemoForm  {position:relative; left:0; top:0}
.bodexList .title .writeMemoForm div {float:left;position:absolute; left:0; top:-4px; margin:0; padding:0; *top:-7px}
.bodexList .title .writeMemoForm .userName{width:50px;background:url(../images/common/text_id.gif) no-repeat right bottom}
.bodexList .title .writeMemoForm .userPass{width:50px;background:url(../images/common/text_pw.gif) no-repeat right bottom}
.bodexList .title .writeMemoForm .userText{width:200px}

.bodexList td.checkbox {padding:0}
.bodexList td.nocheckbox {padding:0 0 0 5px}

.controllerDeleteForm .inputPassword {position:relative; border:none}
.controllerDeleteForm .inputPassword input {float:right; width:5em}
.controllerDeleteForm .inputPassword input.userPw {margin-right:5px;width:7em}
.controllerDeleteForm .button {margin-right:5px;float:right}

