@charset "utf-8";

.exSkinDisplayHideEx {position:absolute; top:-99999px;z-index:-999}

/* bodexRead */
.bodexRead { text-align:left;margin:10px  0 10px 0}

.bodexRead .secret {float:left;margin-right:5px}

.bodexRead a.button,
.bodexRead span.button {margin-top:0; *margin-left:5px}
.bodexRead select.doc_state {margin:0}

.bodexRead .readBody .contentBody {white-space:normal; padding-top:7px}
.bodexRead .readBody .contentBody .xe_content {padding:3px}
.bodexRead .readBody {overflow:hidden}
.bodexRead .readBody.review {border-top:1px solid;margin-top:15px}

.bodexRead .titleAndUser { overflow:hidden; border-bottom:1px solid; *padding-top:1px; *zoom:1}
.bodexRead .titleAndUser div.checkbox {margin-left:-4px}
.bodexRead .titleAndUser .title {float:left; white-space:normal; margin:3px 0 3px 0}
.bodexRead .titleAndUser .title a {text-decoration:none}
.bodexRead .titleAndUser .title a:hover {text-decoration:underline}
.bodexRead .titleAndUser h4{margin:0; font-size:1.4em}
.bodexRead .titleAndUser .userInfo {float:right; white-space:nowrap;margin-top:10px}
.bodexRead .titleAndUser .userInfo .author span {cursor:pointer}

.bodexRead .dateAndCount {white-space:nowrap; margin:4px 0 2px 0; padding:0; font:.9em tahoma; line-height:1.5em; *zoom:1}
.bodexRead .dateAndCount:after { content:""; clear:both; display:block}
.bodexRead .dateAndCount .category {float:left}
.bodexRead .dateAndCount .category a {text-decoration:none; font-weight:bold}
.bodexRead .dateAndCount .category a:hover {text-decoration:underline}
.bodexRead .dateAndCount .date {float:right}
.bodexRead .dateAndCount .readedCount,
.bodexRead .dateAndCount .votedCount {float:right; margin-left:15px}
.bodexRead .dateAndCount .average {margin-right:5px}
.bodexRead .dateAndCount .ccl {float:left; margin-right:5px}

.bodexRead .starRating {margin:10px 0 5px 0}
.bodexRead .starRating table {border:0}
.bodexRead .starRating table th {font-weight:bold;font-size:1em}
.bodexRead .starRating .starPointFrame {width:150px}
.bodexRead .starRating .starPointFrame span.average {font-size:.9em; height:14px;line-height:17px}
.bodexRead .starRating .starPointFrame div {width:80px}
.bodexRead .starRating .average {font-weight:normal}

.bodexRead div.infoBox {width:100%;*zoom:1}
.bodexRead div.infoBox:after { content:""; clear:both; display:block}

.bodexRead div.thumb {position:relative; float:left; text-align:center; margin:0; border:1px solid; margin-right:10px; overflow:hidden}
.bodexRead div.thumbfr {float:right;margin:0;margin-left:10px}
.bodexRead div.thumb img {padding:2px; margin-left:auto; margin-right:auto}
.bodexRead div.thumb img.xeSkinThumbnailImage {cursor:pointer}

.bodexRead div.thumb .xeSkinThumbControl img {display:inline}
.bodexRead div.thumb .xeSkinThumbControl a,
.bodexRead div.thumb .xeSkinThumbControl area {blr:expression(this.onFocus=this.blur())}
.bodexRead div.thumb .xeSkinThumbControl a:focus {-moz-outline-style:none}
.bodexRead div.thumb .xeSkinThumbControl {position:absolute; top:2px; left:2px; display:none}

.bodexRead .extraVarsList {border-top:1px solid;padding:0; overflow:hidden}
.bodexRead .extraVarsList th {font-weight:normal; text-align:left; padding:2px 0 2px 0; white-space:nowrap}
.bodexRead .extraVarsList td {padding-left:5px; white-space:normal}

.bodexRead .extraVarsTable {width:100%}
.bodexRead .extraVarsTable th {font-weight:normal; text-align:left; padding:4px 0 4px 10px; border-bottom:1px solid; border-right:1px solid}
.bodexRead .extraVarsTable td {border-bottom:1px solid ; padding:4px 0 4px 10px}

.bodexRead .contentButton {text-align:right;margin:0; border-top:1px solid; padding-top:5px}

.bodexRead .contentButton .replyAndTrackback {float:left}
.bodexRead .contentButton .replyAndTrackback .replyCount {float:left; margin-right:10px; background:url(../images/common/iconReply.gif) no-repeat left; padding-left:15px}
.bodexRead .contentButton .replyAndTrackback .trackbackCount {float:left; background:url(../images/common/iconTrackback.gif) no-repeat left; padding-left:15px}
.bodexRead .contentButton .replyAndTrackback .replyCount span {font:.8em tahoma;   }
.bodexRead .contentButton .replyAndTrackback .trackbackCount span { font:.8em tahoma;   }

.bodexRead .contentButton .replyAndTrackback a {white-space:nowrap; text-decoration:none}
.bodexRead .contentButton .replyAndTrackback a:hover {text-decoration:underline}

.bodexRead .tag {border-top:1px solid;background: url(../images/common/iconTag.gif) no-repeat 3px 8px; padding:7px 0 4px 35px; margin-top:3px; *zoom:1}
.bodexRead .tag:after { content:""; clear:both; display:block}
.bodexRead .tag ul {margin:0; padding:0}
.bodexRead .tag li {display:inline; list-style:none}
.bodexRead .tag li a {text-decoration:none}

.bodexRead .fileAttached {padding:3px;  margin:3px 0 5px 0; border:2px solid; overflow:hidden; *zoom:1}
.bodexRead .fileAttached:after { content:""; clear:both; display:block}
.bodexRead .fileAttached ul {border:0; margin:0; padding:0}
.bodexRead .fileAttached li {font-size: 1em;line-height: normal;list-style: none; float:left;background-position: 0% 50%;background-repeat: no-repeat;margin-left:5px;padding: 2px 0px 2px 17px;white-space: nowrap}
.bodexRead .fileAttached li a {text-decoration:none; font-size:.9em; white-space:nowrap}
.bodexRead .fileAttached span.fileDownloaded {font-weight:bold}
.bodexRead .fileAttached span.fileError {text-decoration:line-through}

.bodexRead .docReadIpAndUrl {margin-bottom:2px; *zoom:1}
.bodexRead .docReadIpAndUrl:after { content:""; clear:both; display:block}
.bodexRead .docReadIpAndUrl .docReadIp {font:.9em tahoma;float:right;  text-decoration:none}
.bodexRead .docReadIpAndUrl .docReadUri {font:.9em tahoma; float:left}
.bodexRead .docReadIpAndUrl .docReadUri a {text-decoration:none}

.bodexRead .voteButton {position:relative; top:-10px;}
.bodexRead .voteButton a {text-decoration:none}
.bodexRead .voteButton .up {margin-right:5px; padding:3px 0 0 18px;background:url(../images/common/vote_up.gif) no-repeat left top}
.bodexRead .voteButton .down {padding:3px 0 0 18px;background:url(../images/common/vote_down.gif) no-repeat left top}

/* secret Content */
.secretContent {margin:20px auto; text-align:center; border:1px solid; width:240px}
.secretContent .title {padding:10px 0 10px 0; display:block; font-weight:bold}
.secretContent .content {padding:10px 0 10px 0;display:block}
.secretContent .content input.userPw {width:100px;margin-right:5px}

/* extraVars */
.replyBox {text-align:left;padding:10px; border:1px solid; margin-top:.5em}
.replyBox .replyItem {padding:.6em .8em .6em .6em; line-height:1.25em; border-bottom:1px dotted; list-style:none}

.replyBox .author {float:left; padding:0; margin:0 .3em .5em 0;*position:relative}
.replyBox .author div {cursor:pointer}
.replyBox .author .voteInfo {font:10px Tahoma}

.replyBox .date,
.replyBox .voted {float:right; font:.8em Tahoma; margin:.3em 0 .5em 0;*position:relative}
.replyBox .voted {margin:.3em .6em .5em 0}
.replyBox .voted a {text-decoration:none}

.replyBox .bestReply {margin-bottom: 3px; border:1px solid}

.replyBox .replyImage {float:left; margin-right:5px}

.replyBox p {display:inline}
.replyBox .reply {border-bottom:1px dotted}

.replyBox .replyOption {height:20px; float:right; white-space:nowrap; margin-left:.2em;*position:relative}
.replyBox .replyOption img {vertical-align:middle}

.replyBox .replyContent {white-space:normal; overflow:hidden}
.replyBox .replyContent p {display:block; *zoom:1}
.replyBox .replyIndent {background:url(../images/common/iconReplyArrow.gif) no-repeat .0em .3em; padding-left:1.3em}

.replyBox .fileAttached {*zoom:1}
.replyBox .fileAttached:after { content:""; clear:both; display:block}
.replyBox .fileAttached li {padding-left:0}
.replyBox .fileAttached img {padding-right:2px}

.replyBox .replyReviewHead div {font-weight:bold; padding-bottom:5px}
.replyBox .replyFl {float:left; width:48%;}
.replyBox .replyFr {float:right; width:48%;}

.trackbackBox {text-align:left;padding:.6em .6em; border:1px solid;margin-top:.5em}
.trackbackBox .trackbackUrl {font-size:.9em;margin:0}
.trackbackBox .trackbackItem {padding:.6em .1em .6em .6em; line-height:1.25em; border-top:1px dotted; list-style:none}
.trackbackBox p {display:inline; margin-bottom:1em}
.trackbackBox a {text-decoration:none}
.trackbackBox address {display:block; padding:0 .3em 0 0; *zoom:1}
.trackbackBox address:after { content:""; clear:both; display:block}
.trackbackBox address a {font-size:.9em; margin-right:.3em; float:left;*position:relative}
.trackbackBox address .date {font:.8em Tahoma; float:right;*position:relative}
.trackbackBox hr {border:0\9}

/* commentWrite */
.bodexWrite dl.option dd.rewardPoint {float:right; margin:3px 5px}
.bodexWrite dl.option dd.rewardPoint a.button {margin:-4px 0 0}
.bodexWrite dl.option dd.rewardPoint {*float:none; *margin:0 10px}

.commentWrite {margin:10px 0 5px 0}
.commentWrite .writerInfo {margin:0 0 5px; padding:0; white-space:normal}
.commentWrite .writerInfo .votePoint {border-bottom:1px solid;padding:5px 0 5px 10px; overflow:hidden}
.commentWrite .writerInfo .votePoint input {margin: 0 5px 0 0}
.commentWrite .writerInfo .votePoint .up {margin-right:5px; padding:3px 0 0 18px;background:url(../images/common/vote_up.gif) no-repeat left top}
.commentWrite .writerInfo .votePoint .down {padding:3px 0 0 18px;background:url(../images/common/vote_down.gif) no-repeat left top}
.commentWrite .writerInfo .votePoint a {text-decoration:none; margin-right:3px}
.commentWrite .writerInfo .votePoint label:hover,
.commentWrite .writerInfo .votePoint a:hover {text-decoration:underline}
.commentWrite .writerInfo .votePoint .exSkinStarPointBox {padding-left:0; margin:0;list-style:none}
.commentWrite .writerInfo .votePoint .exSkinStarPointBox li {float:left}
.commentWrite .writerInfo .votePoint .exSkinStarPointBox li a { display:block;text-decoration:none; width:15px; height:14px; background:url(../images/common/starOff.png) no-repeat left top; font-size:0; line-height:0}
.commentWrite .writerInfo .votePoint .exSkinStarPointBox li a.onR {background-image:url(../images/common/starOnR.png)}
.commentWrite .writerInfo .votePoint .exSkinStarPointBox li a.onG {background-image:url(../images/common/starOnG.png)}
.commentWrite .writerInfo .votePoint .exSkinStarPointBox li a.onY {background-image:url(../images/common/starOnY.png)}
.commentWrite .writerInfo .votePoint .exSkinStarPointBox li a.vote_register,
.commentWrite .writerInfo .votePoint .exSkinStarPointBox li a.vote_cancel {margin-left:8px; width:39px; height:15px; background-image:url(../images/common/labelCancel.gif)}
.commentWrite .writerInfo .votePoint .exSkinStarPointBox li a.vote_register {margin-left:5px;background-image:url(../images/common/labelVote.gif)}

.commentWrite .writerInfo .votePoint .voteEmpty a {float:left; margin-left:8px; width:39px; height:15px; background:url(../images/common/labelCancel.gif) no-repeat left top; font-size:0; line-height:0}

.commentWrite .writerInfo .votePoint .exSkinStarPointBox li a.vote_register span,
.commentWrite .writerInfo .votePoint .exSkinStarPointBox li a.vote_cancel span,
.commentWrite .writerInfo .votePoint .voteEmpty a span {display:none}

/* 게시물의 팝업 메뉴 */
.comment_popup_menu,
.document_popup_menu {text-align:right; padding:0 15px 0 0; height:18px}
.comment_popup_menu a,
.document_popup_menu a {text-decoration:none}

/* 회원 서명 및 프로필 이미지 출력 */
.memberSignature {border:1px solid; padding:10px; margin:10px; *zoom:1}
.memberSignature:after { content:""; clear:both; display:block}
.memberSignature .profile {float:left; margin-right:20px;*position:relative}
.memberSignature .profile img {border:1px solid; padding:3px; margin:none}
.memberSignature .signature {overflow:hidden}

.commentProfileImage {float:left; *position:relative}
.commentProfileImage .profile {margin:0 20px 10px 0}
.commentProfileImage .profile .star {margin-bottom:3px}
.commentProfileImage .profile .adoptComment span {font-weight:bold}
.commentProfileImage .profile .adoptComment a.button {margin:0 0 3px 0; padding:0}
.commentProfileImage .profile .image {border:1px solid; padding:3px; margin:none}

/* 리플창 */
.iframe_include {margin-top:0; width:100%}
