@charset "utf-8";

input.dStyle {background:url(../images/white/inputBg.gif) no-repeat right bottom}

select.dStyle,
textarea.dStyle,
input.dStyle {color:#111; border-color:#ccc #aaa #aaa #ccc}

select.dStyle:hover,
textarea.dStyle:hover,
input.dStyle:hover,
select.dStyle:focus,
textarea.dStyle:focus,
input.dStyle:focus {border-color:#444}

/* bodex Title */
.bodexHeader {border-color:#ccc; background: url(../images/white/bgH3.png) repeat-x left bottom}
.bodexHeader h3{border-color:111;background:url(../images/white/line_H3_3x15.gif) no-repeat right bottom}
.bodexHeader h3 a{color:#111}
.bodexHeader h4{color:#999}

/* bodex Description */
.bodexDescription {color:#777; border-color:#ccc}
.displayPointConfig li div {color:#555}

/* account Navigation */
.accountNavigation a {color:#444}
.accountNavigation a:hover {color:#111}
.accountNavigation li.loginAndLogout a {background:url(../images/white/line_1x10.gif) no-repeat left bottom }
.accountNavigation li.icon a{background-image:url(../images/white/listTypeIcon.gif)}
.accountNavigation li.rss a{background-image:url(../images/common/iconRss.gif)}

/* document count */
.articleNum {background:url(../images/white/iconArticle.gif) no-repeat left bottom}

/* category Navigation */
.categoryTab li a {color:#111; border-color:#ccc;background:url(../images/white/bgListTh.png) repeat-x top}
.categoryTab li a:hover {border-color:#444}
.categoryMenu a {color:#333}
.categoryMenu a:hover {color:#000}
.categoryMenu td .navigation,
.categoryMenu td .navigation div.total {border-color:#ccc}

/* secret Content */
.secretContent {border-color:#ccc}

/* message box */
/* multimedia box */
.exSkinMediaBox,
.exSkinMediaBox h3,
.smallBox,
.smallBox h3 {border-color:#ccc}
.smallBox .boxHeader {background:url(../images/white/bgH3.png) repeat-x left bottom}

/* Page */
.pagination a {color:#111}
.pagination a:hover {color:#444}
.pagination.a1 a,
.pagination.a1 strong{border-left-color:#ccc; border-right-color:#555}

.documentNavigation a {color:#111}
.documentNavigation a:hover {color:#444}

/* profile & signature */
.memberSignature {border-color:#ddd}
.memberSignature .signature p {color:#666}
.commentProfileImage span.adoptComment {color:#666}
.memberSignature .profile img,
.commentProfileImage .profile .image {border-color: #E0E1DB}

/* popup menu */
#popup_menu_area {}
#popup_menu_area ul li a {color:#444}
.comment_popup_menu,
.document_popup_menu {background:url(../images/white/document_menu.gif) no-repeat right top !important}

/* star */
.bodexBg0,
.starPointFrame span.bodexBg0 {background-color:#fafafa}
.bodexBg1,
.starPointFrame span.bodexBg1 {background-color:#fff}
.replyBox .replyBg0,
.starPointFrame span.replyBg0 {background-color:#eee}
.replyBox .replyBg1,
.starPointFrame span.replyBg1 {background-color:#f8f8f8}

/* tag List */
.tagsBox {border-color:#ccc}
.tags div a {color:#444}
.tags div a:hover {background-color:#888888; color:#fff}
.tags .tagTypeA a {color:#fe3614; background-color:#EFEFEF}
.tags .tagTypeB a {color:#fe3614}
.tags .tagTypeC a,
.tags .tagTypeD a {background-color:#EFEFEF}

/* Bodex Write */
.bodexWrite {border-color:#ccc}
.bodexWrite .info {color:#707070}
.bodexWrite .option label {color:#444}
.bodexWrite .option label:hover {color:#000}

.bodexWrite .extraVarsList {border-color:#ccc}
.bodexWrite .extraVarsList th,
.bodexWrite .extraVarsList td {color:#666; border-color:#ccc}

.bodexWrite .extraVarsList select,
.bodexWrite .extraVarsList textarea,
.bodexWrite .extraVarsList input[type="password"],
.bodexWrite .extraVarsList input[type="text"] {color:#111;border-color:#ccc #aaa #aaa #ccc}

.bodexWrite .extraVarsList select:focus,
.bodexWrite .extraVarsList textarea:focus,
.bodexWrite .extraVarsList input[type="password"]:focus,
.bodexWrite .extraVarsList input[type="text"]:focus,
.bodexWrite .extraVarsList select:hover,
.bodexWrite .extraVarsList textarea:hover,
.bodexWrite .extraVarsList input[type="password"]:hover,
.bodexWrite .extraVarsList input[type="text"]:hover {border-color:#444}

.bodexWrite .extraVarsList input[type="password"],
.bodexWrite .extraVarsList input[type="text"] {background:url(../images/white/inputBg.gif) no-repeat right bottom}

.commentWrite {color:#444; border-color:#ccc}
.commentWrite .writerInfo .votePoint {border-bottom-color:#ccc}
.commentWrite .writerInfo .votePoint label {color:#444}
.commentWrite .writerInfo .votePoint label:hover {color:#000}

/* Bodex Read */
.bodexRead a {color:#333}
.bodexRead a:hover {color:#000}

.bodexRead .titleAndUser {border-bottom-color:#ccc}
.bodexRead .dateAndCount div {color:#777}
.bodexRead .dateAndCount .category a {color:#555}

.bodexRead .extraVarsList {border-top-color:#ccc}
.bodexRead .extraVarsList th,
.bodexRead .extraVarsList td {color:#999; border-color:#ccc}
.bodexRead .extraVarsList td a {color:#999}
.bodexRead .extraVarsList td a:hover {color:#666}

.bodexRead .tag,
.bodexRead .readBody.review,
.bodexRead div.thumb {border-color:#ccc}
.bodexRead .starRating  {color:#888}
.filelistFrame {color:#111;border-color: #ccc}
.filelistFrame a {color:#555}

.bodexRead .fileAttached {border-color:#ccc; background-color:#eee}
.bodexRead .fileAttached li a:visited,
.bodexRead .fileAttached span.fileDownloaded {color:#999}
.bodexRead .fileAttached span.fileError {color:#ccc}

.bodexRead .docReadIpAndUrl .docReadIp,
.bodexRead .docReadIpAndUrl .docReadUri a {color:#aaa}

.bodexRead .contentButton {border-top-color:#ccc}

/* replyBox */
.replyBox {border-color:#ccc}
.replyBox .replyItem {border-color:#ccc}
.replyBox .voted {color:#888}
.replyBox .voted a {color:#555}
.replyBox .date {color:#707070}
.replyBox .replyContent .xe_content {color:#555}

/* trackbackBox */
.trackbackBox {color:#555; border-color:#ccc}
.trackbackBox .trackbackItem {background-color:#eee; border-top-color:#ccc}
.trackbackBox address a {color:#444}
.trackbackBox address a:hover {color:#000}
.trackbackBox address .date {color:#707070}
.trackbackBox hr {color:#ccc; border-color:#ccc}

/* list */
.bodexList ,
.bodexList th,
.bodexList td,
.bodexList thead th,
.bodexList tr.notice td {border-color:#ccc}

.bodexList th {background: url(../images/white/bgListTh.png) repeat-x top}
.bodexList th a {color:#111}
.bodexList th a:hover {color:#444}

.bodexList td a {color:#333}
.bodexList td a:hover {color:#000}

.bodexList td.title a:visited {color:#777}

.documentNavigation strong.category,
.bodexList td strong.category {color:#111;  background:url(../images/white/line_1x10.gif) no-repeat right center}

.bodexList td.no,
.bodexList td.regdate,
.bodexList td.ipaddress,
.bodexList td.last_update,
.bodexList td.readed_count,
.bodexList td.voted_count,
.bodexList td.doc_state,
.bodexList td.blamed_count {color:#555}

.bodexList td span.rewardPoint {background-color:#555; border-color:#000; color:#fff}
.bodexList td span.rewardAdopt {background-color:#aaa}

/* bodexList webzine */
.bodexList div.summary {color:#999}
.bodexList .extraTable th,
.bodexList .extraTable td {color:#555}
.bodexList td.thumb img {border-color:#E0E1DB}

 /* bodexList gallery */
.bodexList .exSkinThumbnailBox li .exSkinThumb,
.bodexList .exSkinThumbnailBox li .exSkinThumb img{border-color: #ccc}
.bodexList .exSkinThumbnailBox li .info{ background:#000; opacity:.6; filter:alpha(opacity=60); color:#ccc}
.bodexList .exSkinThumbnailBox li .info p {color:#ddd}

 /* bodexList download */
.bodexList .downloadBox,
.bodexList .downloadBox div.thumb,
.bodexList .downloadBox div.info li.title {border-color: #ccc}
.bodexList .downloadBox div.info li .category strong  {background:url(../images/white/line_1x10.gif) no-repeat right bottom }
.bodexList .downloadBox div.info li .star span.average {color:#aaa}
.bodexList .downloadBox div.info li .star,
.bodexList .downloadBox div.info li .star a,
.bodexList .downloadBox div.info li .last_updater,
.bodexList .downloadBox div.info li .extravalue {color:#888}
.bodexList .downloadBox div.info li .summary {color:#555}

.bodexList .downloadBox div.date,
.bodexList .downloadBox div.date a {color:#aaa}
.bodexList .downloadBox div.date a:hover {color:#888}

.blogView {border-color:#aaa}
