@charset "utf-8";

/* bodexWrite */
.bodexWrite {padding:5px 0 5px 0}
.bodexWrite div.editor {margin-top:10px}

.bodexWrite .title {margin:5px 0 0 10px}
.bodexWrite .title label.title {margin:0 10px 0 10px}
.bodexWrite .title input[type="text"] {margin-top:0;width:65%}
.bodexWrite .title input {*margin-top:0;*width:65%}

.bodexWrite .title .reward_point {vertical-align:middle;margin:2px 0px 2px 0px}
.bodexWrite .title .reward_point a.button {margin-top:0;margin-left:5px}

.bodexWrite .tag {margin-top:10px; margin-left:10px}
.bodexWrite .tag .button {margin:0;margin-top:-1px\9;*margin-top:2px}
.bodexWrite .tag .button span {padding-left:3px; padding-right:5px}
.bodexWrite .tag input.dStyle {width:85%; background: url(../images/common/iconTag.gif) no-repeat 5px 5px; padding-left:35px}
.bodexWrite .fileLink input.dStyle {width:65%;background-image:url(../images/common/iconLink.gif)}

.bodexWrite .info {font-size:1em; background:url(../images/common/iconArrowD8.gif) no-repeat 0% 40%; margin-top:5px; padding-left:5px}

.bodexWrite .extraVarsList {width:100%;border-top:1px solid; border-bottom:none; margin:10px 0 0 0}
.bodexWrite .extraVarsList th {font-weight:normal; text-align:left; padding:4px 0 4px 10px; border-bottom:1px solid; border-right:1px solid}
.bodexWrite .extraVarsList td {border-bottom:1px solid; padding:4px 0 4px 10px}

.bodexWrite .extraVarsList tr td ul {*zoom:1}
.bodexWrite .extraVarsList tr td ul:after { content:""; clear:both; display:block}

.bodexWrite .extraVarsList p {margin:5px 0 0 0; padding:0}

.bodexWrite .extraVarsList select,
.bodexWrite .extraVarsList textarea,
.bodexWrite .extraVarsList input[type="password"],
.bodexWrite .extraVarsList input[type="text"] {border:1px solid; font-size:1em}

.bodexWrite .extraVarsList textarea {height:100px}
.bodexWrite .extraVarsList select {height:22px;height:20px\9}
.bodexWrite .extraVarsList input[type="password"],
.bodexWrite .extraVarsList input[type="text"] {padding-left:2px;height:18px}

.extraVarsList tr td .text {margin-right:10px; width:90%}
.extraVarsList tr td .email_address {margin-right:10px; width:300px}
.extraVarsList tr td .homepage {margin-right:10px; width:300px}
.extraVarsList tr td .tel {margin-right:10px; width:40px; margin-right:10px}
.extraVarsList tr td .textarea {margin-right:10px; width:90%; height:80px; font-size:1em}
.extraVarsList tr td ul {margin:0; padding:0; list-style:none}
.extraVarsList tr td ul li {display:inline-block; margin-right:10px; *float:left}
.extraVarsList tr td ul li input[type="text"] {margin-right:5px; vertical-align:middle}
.extraVarsList tr td .date {margin-right:10px; width:100px}
.extraVarsList tr td .address {margin-right:10px; width:300px}

.writeSimpleFormHead {margin-bottom:10px}
.writeSimpleFormFoot {margin-top:10px}
