<form action="./" method="get" class="boardListForm">
    <fieldset>
        <legend>List of Articles</legend>

        <table cellspacing="0" border="1" summary="List of Articles" class="boardList">
			<!--@if(($module_info->display_header!="N") || ($module_info->display_subheader!="N" && $search_keyword!="N" && $use_sub=="Y"))-->
			<thead>
				<tr>
					<!--// 목록 설정으로 table theader 생성 -->
					<!--@foreach($list_config as $key => $val)-->
						<!--// 기본 컨텐츠일 경우 -->
						<!--@if($val->idx == -1)-->
	
							<!--// 컨텐츠 종류에 따라서 출력 -->
							<!--@if($val->type == 'no')-->
								<th scope="col">{$lang->no}</th>
							<!--@elseif($val->type == 'thumbnail')-->
								<th scope="col">{$lang->thumbnail}</th>
							<!--@elseif($val->type == 'title')-->
								<!--@if( $module_info->use_category == "Y" && ($module_info->category_style == "list_select" || $module_info->category_style == "wide_and_select" ) && $module_info->category_seperate=="seperate_left")-->
									<th scope="col" style="text-align:center">
										<select name="category" id="board_category">
											<option value="">{$lang->category}</option>
											<!--@foreach($category_list as $val)-->
											<option value="{$val->category_srl}" <!--@if($category==$val->category_srl)-->selected="selected"<!--@end-->>{str_repeat("&nbsp;&nbsp;",$val->depth)} {$val->title} <!--@if($val->document_count)-->({$val->document_count})<!--@end--></option>
											<!--@end-->
										</select>
										<input type="button" name="go_button" id="go_button" value="GO" onclick="doChangeCategory(); return false;" class="buttonTypeGo" />
									</th>
								<!--@elseif ($module_info->use_category == "Y" && $module_info->display_category=="Y" &&  ($module_info->category_style == "top_wide" || $module_info->category_style == "category_left"  || $module_info->category_style == "category_right") && $module_info->category_seperate=="seperate_left") -->
									<th style="text-align:center">{$lang->category}</th>
								<!--@end-->

								<th scope="col" class="<!--@if($module_info->use_category == 'Y'  && $module_info->category_seperate=='subject')-->category<!--@else-->title<!--@end--> {$_l}">
									<!--@if($module_info->use_category == "Y" && ($module_info->category_style == "list_select" || $module_info->category_style == "wide_and_select" ) && $module_info->category_seperate=="subject")-->
									<!--// 카테고리 사용시 카테고리 선택 표시 -->
									<div>
										<select name="category" id="board_category">
											<option value="">{$lang->category}</option>
											<!--@foreach($category_list as $val)-->
											<option value="{$val->category_srl}" <!--@if($category==$val->category_srl)-->selected="selected"<!--@end-->>{str_repeat("&nbsp;&nbsp;",$val->depth)} {$val->title} <!--@if($val->document_count)-->({$val->document_count})<!--@end--></option>
											<!--@end-->
										</select>
										<input type="button" name="go_button" id="go_button" value="GO" onclick="doChangeCategory(); return false;" class="buttonTypeGo" />
									</div>
									<!--@else-->
									<div align="center"><a href="{getUrl('sort_index','title','sortkey','','order_type',$order_type)}">{$lang->title}<!--@if($sort_index=='title')--><img src="./img/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></div>
									<!--@end-->
								</th>

								<!--@if($module_info->use_category == "Y" && ($module_info->category_style == "list_select" || $module_info->category_style == "wide_and_select" ) && $module_info->category_seperate=="seperate_right")-->
									<th scope="col" style="text-align:center">
										<select name="category" id="board_category">
											<option value="">{$lang->category}</option>
											<!--@foreach($category_list as $val)-->
											<option value="{$val->category_srl}" <!--@if($category==$val->category_srl)-->selected="selected"<!--@end-->>{str_repeat("&nbsp;&nbsp;",$val->depth)} {$val->title} <!--@if($val->document_count)-->({$val->document_count})<!--@end--></option>
											<!--@end-->
										</select>
										<input type="button" name="go_button" id="go_button" value="GO" onclick="doChangeCategory(); return false;" class="buttonTypeGo" />
									</th>
								<!--@elseif ($module_info->use_category == "Y" && $module_info->category_style == "top_wide" && $module_info->category_seperate=="seperate_right") -->
									<th style="text-align:center">분류</th>
								<!--@end-->
							<!--@elseif($val->type == 'regdate')-->
								<th scope="col"><a href="{getUrl('sort_index','regdate','sortkey','','order_type',$order_type)}">{$lang->date}<!--@if($sort_index=='regdate')--><img src="./img/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th>
							<!--@elseif($val->type == 'last_update')-->
								<th scope="col"><a href="{getUrl('sort_index','last_update','sortkey','','order_type',$order_type)}">{$lang->last_update}<!--@if($sort_index=='last_update')--><img src="./img/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th>
							<!--@elseif($val->type == 'nick_name')-->
								<th scope="col"><a href="{getUrl('sort_index','nick_name','sortkey','','order_type',$order_type)}">{$lang->writer}<!--@if($sort_index=='nick_name')--><img src="./img/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th>
							<!--@elseif($val->type == 'user_id')-->
								<th scope="col"><a href="{getUrl('sort_index','user_id','sortkey','','order_type',$order_type)}">{$lang->user_id}<!--@if($sort_index=='user_id')--><img src="./img/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th>
							<!--@elseif($val->type == 'user_name')-->
								<th scope="col"><a href="{getUrl('sort_index','user_name','sortkey','','order_type',$order_type)}">{$lang->user_name}<!--@if($sort_index=='user_name')--><img src="./img/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></th>
							<!--@elseif($val->type == 'readed_count')-->
								<th scope="col"><a href="{getUrl('sort_index','readed_count','sortkey','','order_type',$order_type)}">{$lang->readed_count}<!--@if($sort_index=='readed_count')--><img src="./img/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th>
							<!--@elseif($val->type == 'voted_count')-->
								<th scope="col"><a href="{getUrl('sort_index','voted_count','sortkey','','order_type',$order_type)}">{$lang->voted_count}<!--@if($sort_index=='voted_count')--><img src="./img/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th>
							<!--@elseif($val->type == 'last_post')-->
                                <th scope="col"><a href="{getUrl('sort_index','last_update','sortkey','','order_type',$order_type)}">{$lang->last_post}<!--@if($sort_index=='last_update')--><img src="./img/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th>
							<!--@end-->
							<!--// 사용자 선언 확장변수일 경우 -->
							<!--@elseif( $module_info->grant_extra=="Y" && (((substr_count($val->eid,'_grantAA') || substr_count($val->eid,'_grantMA') || substr_count($val->eid,'_grantGA')) && !$grant->manager) || ((substr_count($val->eid,'_grantAM') || substr_count($val->eid,'_grantMM') || substr_count($val->eid,'_grantGM')) && !$logged_info)) )-->
							<!--@else-->
								<!--@if( strstr(strtolower($val->eid),"iconurl_") && $module_info->iconurl_use!="N" && $module_info->iconurl_header=="N")-->
									<th scope="col">&nbsp;</th>
								<!--@elseif(!(!$grant->manager && strstr(strtolower($val->eid),"ordering") ))-->
									<th scope="col"><a href="{getUrl('sort_index','','sortkey',$val->eid,'order_type',$order_type)}">{$val->name}<!--@if($sortkey==$val->eid)--><img src="./img/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th>
								<!--@end-->								
							<!--@end-->
						<!--@end-->
						<!--@if($module_info->display_list_edit=="Y")-->
						<th scope="col">{$lang->cmd_modify}/{$lang->cmd_delete}</th>
						<!--@end-->
						<!--@if($grant->manager)--><th scope="col"><input type="checkbox" onclick="XE.checkboxToggleAll({ doClick:true }); return false;" title="Check All" /></th><!--@end-->
				</tr>
			</thead>
			<!--@end-->
			<tbody>
	
				<!--@if(!$document_list && !$notice_list)-->
				<tr>
					<td colspan="<!--@if($grant->manager)-->{count($list_config)+1}<!--@else-->{count($list_config)}<!--@end-->" style="text-align:center; padding:15px 0px 15px 0px; border-bottom:none;">
						{$lang->no_documents}
					</td>
				</tr>
				<!--@else-->
			
				<!--@foreach($notice_list as $no => $document)-->
				<!--@if(  !($document->isSecret() && ($module_info->secret_list=="hide_all" || (($module_info->secret_list=="hide") && ($document->getUserID()!=$logged_info->user_id)) )) || $grant->manager )-->
				{@$member_grant=$document->getExtraEidValue('member_grantAA')}
				{@$group_grant=$document->getExtraEidValue('group_grantAA')}
				<!--@if( ((!$member_grant || ($member_grant &&  substr_count(",".$member_grant.",", ",".$logged_info->user_id.","))) && (!$group_grant || ($group_grant &&  substr_count(",".$group_grant.",", ",".$logged_info->group.",")))) || $grant->manager=="Y" || $grant->document_grant=="N")-->
				<tr class="notice">
					<!--// 목록 설정으로 table theader 생성 -->
					<!--@foreach($list_config as $key => $val)-->
	
						<!--// 기본 컨텐츠일 경우 -->
						<!--@if($val->idx == -1)-->
	
							<!--// 컨텐츠 종류에 따라서 출력 -->
							<!--@if($val->type == 'no')-->
								<td class="notice"><!--@if($document_srl == $document->document_srl)-->&raquo;<!--@else-->{$lang->notice}<!--@end--></td>
							<!--@elseif($val->type == 'title')-->
								<!--@if($module_info->display_category!="N" && $module_info->use_category == "Y" && $module_info->category_seperate=="seperate_left")-->
									<td class="category" ><span class="category" style="background:none" <!--@if($module_info->category_cut_size< strlen($category_list[$document->get('category_srl')]->title) )-->title="{$category_list[$document->get('category_srl')]->title}"<!--@end--> <!--@if($category_list[$document->get('category_srl')]->color)-->style="color:{$category_list[$document->get('category_srl')]->color};"<!--@end-->>{cut_str($category_list[$document->get('category_srl')]->title, $module_info->category_cut_size, '..')}</span></td>
								<!--@end-->
								<td class="title">
									{@$subject_cut_size=$module_info->subject_cut_size}
									<!--@if($module_info->icon_hot && $module_info->icon_hot<=$document->get('readed_count'))--><img src="./img/icons/hot.gif" class="iePngFix" />{@$subject_cut_size-=10}<!--@end-->
									<!--@if($module_info->use_category == "Y" && $module_info->display_category=="Y" && $document->get('category_srl') && $module_info->category_seperate=="subject")-->
									<span class="category" <!--@if($module_info->category_cut_size< strlen($category_list[$document->get('category_srl')]->title) )-->title="{$category_list[$document->get('category_srl')]->title}"<!--@end--> <!--@if($category_list[$document->get('category_srl')]->color!="transparent")-->style="color:{$category_list[$document->get('category_srl')]->color};"<!--@end-->>{cut_str($category_list[$document->get('category_srl')]->title, $module_info->category_cut_size, '..')}</span>
									<!--@end-->
	
									{@$link_url = $document->getExtraEidValue('link_url');}

									<!--@if ($grant->manager!="Y" && $logged_info->user_id!=$document->get('user_id') && $module_info->use_link == "Y" && $link_url)-->
										<!--@if (!strstr($link_url,'http://'))-->
											{@$link_url = 'http://'.$link_url;}
										<!--@end-->

										<!--@if($module_info->link_hit!="N" && $read_count == $document->document_srl && $read_counted[$document->document_srl]!="Y")-->
											{@	
												$oDocumentController = &getController('document');
												$oDocumentController->updateReadedCount($document);	
												$read_counted[$document->document_srl]="Y";
											}
										<!--@end-->
										<a href="{getUrl('','read_count',$document->document_srl,'mid',$mid,'page',$page,'document_srl','','listStyle',$listStyle,'layout_srl',$layout_srl)}"  onclick="window.open('{$link_url}');" style="cursor:pointer">
									<!--@elseif($module_info->default_style=="slide" || ($module_info->list_link=="noview" && ($document->get('member_srl')!=$logged_info->member_srl || $grant->manager!="Y") ))-->
									<!--@else-->
										<a <!--@if((!$document->isSecret() || $grant->manager=="Y") && $module_info->subject_mouseover=="subject" && ($subject_cut_size< strlen(strip_tags($document->getTitle())))  )-->title="{strip_tags($document->getTitle())}" <!--@elseif((!$document->isSecret() || $grant->manager=="Y") && $module_info->subject_mouseover=="content")-->title="{strip_tags($document->getContentText($module_info->content_cut_size))}"<!--@end--> href="{getUrl('document_srl',$document->document_srl, 'listStyle', $listStyle, 'cpage','')}" <!--@if($module_info->list_link=="popup")-->onclick="window.open(this.href+'&layout_srl={$popup_layout}','','menubar=no,toolbar=no,location=no,resizable=yes,status=no,scrollbars=yes,fullscreen=no,width={$module_info->popup_width}px,height={$module_info->popup_height}px,top=50px,left=50px');return false"<!--@end-->>
									<!--@end-->
									<!--@if($document->isSecret() && $module_info->secret_list=="delete" && $grant->manager=="Y" )-->
										<span>{$lang->secret_delete}</span>
									<!--@elseif($module_info->default_style=="slide" && (!$document->isSecret() || $grant->manager=="Y"))-->
										<div class="dhtmlgoodies_question">{$document->getTitle($module_info->subject_cut_size)}</div>								
									<!--@else-->
									{$document->getTitle($subject_cut_size)}
									<!--@end-->
									</a>
									<!--@if($module_info->display_new!="N")-->
										{$document->printExtraImages(60*60*$module_info->duration_new)}
									<!--@end-->

									
									<!--@if($document->getCommentCount())-->
										<!--@if($module_info->default_style=="slide" || ($module_info->list_link=="noview" && ($document->get('member_srl')!=$logged_info->member_srl || $grant->manager!="Y") ))-->
										<!--@else-->
										<a href="{getUrl('document_srl', $document->document_srl)}#comment" <!--@if($module_info->list_link=="popup")-->onclick="window.open(this.href+'&layout_srl={$popup_layout}','','menubar=no,toolbar=no,location=no,resizable=yes,status=no,scrollbars=yes,fullscreen=no,width={$module_info->popup_width}px,height={$module_info->popup_height}px,top=50px,left=50px');return false"<!--@end-->>
										<!--@end-->
										<span class="replyNum" title="Replies">[{$document->getCommentCount()}]</span></a>
									<!--@end-->
	
									<!--@if($document->getTrackbackCount())-->
										<!--@if($module_info->default_style=="slide" || ($module_info->list_link=="noview" && ($document->get('member_srl')!=$logged_info->member_srl || $grant->manager!="Y") ))-->
										<!--@else-->
										<a href="{getUrl('document_srl', $document->document_srl)}#trackback" <!--@if($module_info->list_link=="popup")-->onclick="window.open(this.href+'&layout_srl={$popup_layout}','','menubar=no,toolbar=no,location=no,resizable=yes,status=no,scrollbars=yes,fullscreen=no,width={$module_info->popup_width}px,height={$module_info->popup_height}px,top=50px,left=50px');return false"<!--@end-->>
										<!--@end-->
										<span class="trackbackNum" title="Trackbacks">[{$document->getTrackbackCount()}]</span></a>
									<!--@end-->

									<!--@if($module_info->default_style=="slide" && (!$document->isSecret() || ($document->get('member_srl')!=$logged_info->member_srl || $grant->manager!="Y")))-->
										<div class="dhtmlgoodies_answer" style="width:{$module_info->slide_width}">
											<div>
											<!--@if($module_info->display_contentlink=="N" && !$grant->manager)-->
												{$document->getContent(false)}
												<p>&nbsp;</p>
											<!--@else-->
												{$document->getContent()}
											<!--@end-->
											{@$oDocument = $document}
											<!--#include("./comment_narrow.html")-->
	
											</div>
										</div>
									<!--@end-->
								</td>
								<!--@if($module_info->use_category == "Y" && $module_info->display_category=="Y" && $module_info->category_seperate=="seperate_right")-->
									<td class="category" ><span class="category" style="background:none" <!--@if($module_info->category_cut_size< strlen($category_list[$document->get('category_srl')]->title) )-->title="{$category_list[$document->get('category_srl')]->title}"<!--@end--> <!--@if($category_list[$document->get('category_srl')]->color)-->style="color:{$category_list[$document->get('category_srl')]->color};"<!--@end-->>{cut_str($category_list[$document->get('category_srl')]->title, $module_info->category_cut_size, '..')}</span></td>
								<!--@end-->
							<!--@elseif($val->type == 'thumbnail')-->


								<!-- sejin7940 - 썸네일 정보 추출 (시작) -->
								{@$thumbnail=$thumbnail_temp=""}
								<!--@if($document->hasUploadedFiles())-->
									{@$uploaded_list = $document->getUploadedFiles() }
									<!--@foreach($uploaded_list as $key => $file)-->
										<!--@if(strstr(strtolower($file->uploaded_filename),"_thumb"))-->
											{@$thumbnail = $file->uploaded_filename}
										<!--@end-->
										<!--@if( $module_info->thumbnail_link=='expand' && !$thumbmail_temp && (substr_count(strtolower($file->source_filename),'.jpg') || substr_count(strtolower($file->source_filename),'.gif') || substr_count(strtolower($file->source_filename),'.bmp') || substr_count(strtolower($file->source_filename),'.png')))-->
											{@$thumbnail_temp = $file->uploaded_filename}
										<!--@end-->
									<!--@end-->
									<!--@if(!$thumbnail)-->{@$thumbnail = $thumbnail_temp}<!--@end-->
								<!--@end-->
								<!--@if(!$thumbnail)-->
									{@$thumbnail = $document->getThumbnail($module_info->thumbnail_width, $module_info->thumbnail_height, $module_info->thumbnail_type)}
								<!--@end-->
								<!-- sejin7940 - 썸네일 정보 추출 (끝) -->


								<!--@if($document->hasUploadedFiles() && $module_info->thumbnail_link=='expand' && ($document->get('member_srl')!=$logged_info->member_srl || $grant->manager!="Y"))-->
									<td>
									<!--BeforeDocument({$document_srl},{$document->get('member_srl')})-->
									<div align="center" style="float:left; width:{$module_info->thumbnail_width+($module_info->thumbnail_padding+1)*2}px; margin-bottom:5px; padding-right:10px">
										<!--@if($browser=="IE6")-->  <!-- 확대하기 섬네일이 IE6에서 안 나오는 버그 수정위해 중복출력 (이유는 모름 ㅡㅡ;)  -->
											<div class="document_{$document_srl}_{$document->get('member_srl')} xe_content" style="border:0px solid red; display:none">
												<img editor_component='image_link' src="{$thumbnail}"  width="{$module_info->thumbnail_width}" height="{$module_info->thumbnail_height}" />
											</div>
										<!--@end-->
										<div class="document_{$document_srl}_{$document->get('member_srl')} xe_content" style="border:0px solid red">
											<img editor_component='image_link' src="{$thumbnail}"  width="{$module_info->thumbnail_width}" height="{$module_info->thumbnail_height}" />
										</div>
									</div>
									<!--AfterDocument({$document_srl},{$document->get('member_srl')})-->
									</td>
								<!--@else-->

								<td>
								{@$link_url = $document->getExtraEidValue('link_url');}
								<!--@if ($grant->manager!="Y" && $logged_info->user_id!=$document->get('user_id') && $module_info->use_link == "Y" && $link_url)-->
									<!--@if (!strstr($link_url,'http://'))-->
										{@$link_url = 'http://'.$link_url;}
									<!--@end-->

									<!--@if($module_info->link_hit!="N" && $read_count == $document->document_srl && $read_counted[$document->document_srl]!="Y")-->
										{@	
											$oDocumentController = &getController('document');
											$oDocumentController->updateReadedCount($document);	
											$read_counted[$document->document_srl]="Y";
										}
										<script>location.href="{getUrl('','mid',$mid,'page',$page,'document_srl','','listStyle',$listStyle)}"</script>
									<!--@end-->
									<a href="{getUrl('','read_count',$document->document_srl,'mid',$mid,'page',$page,'document_srl','','listStyle',$listStyle,'layout_srl',$layout_srl)}"  onclick="window.open('{$link_url}');" style="cursor:pointer">
								<!--@elseif($module_info->default_style=="slide" || ($module_info->list_link=="noview" && ($document->get('member_srl')!=$logged_info->member_srl || $grant->manager!="Y") ))-->
								<!--@else-->
									<a href="{getUrl('document_srl',$document->document_srl,'listStyle',$listStyle, 'cpage','')}" <!--@if($module_info->list_link=="popup")-->onclick="window.open(this.href+'&layout_srl={$popup_layout}','','menubar=no,toolbar=no,location=no,resizable=yes,status=no,scrollbars=yes,fullscreen=no,width={$module_info->popup_width}px,height={$module_info->popup_height}px,top=50px,left=50px');return false"<!--@end-->>
								<!--@end-->
								<!--@if($thumbnail)-->
									<img src="{$thumbnail}" style="width:{$module_info->thumbnail_width}px; height:{$module_info->thumbnail_height}px; padding:{$module_info->thumbnail_padding}px;" class="iePngFix" />
								<!--@elseif($module_info->thumbnail_noimage)-->
									<img src="{$module_info->thumbnail_noimage}"  style="width:{$module_info->thumbnail_width}px; height:{$module_info->thumbnail_height}px; padding:{$module_info->thumbnail_padding}px;" class="iePngFix" >
								<!--@else-->
									<img style="display:none"  src="./img/{$module_info->colorset}/noimage.gif"  style="width:{$module_info->thumbnail_width}px; height:{$module_info->thumbnail_height}px;" class="iePngFix" >
								<!--@end-->
								</a>
								</td>
								<!--@end-->
							<!--@elseif($val->type == 'regdate')-->
								<td class="date">{$document->getRegdate('Y-m-d')}</td>
							<!--@elseif($val->type == 'last_update')-->
								<td class="date">{zdate($document->get('last_update'),'Y-m-d H:i')}</td>
							<!--@elseif($val->type == 'nick_name')-->
								<td class="author"><!--@if(!($sortkey=='regdate' && $grant->manager!="Y"))--><a href="#popup_menu_area" class="member_{$document->get('member_srl')}" onclick="return false"><!--@end-->{$document->getNickName()}</a></td>
							<!--@elseif($val->type == 'user_id')-->
								<td class="author">{$document->getUserID()}</a></td>
							<!--@elseif($val->type == 'user_name')-->
								<td class="author"><!--@if(!($sortkey=='regdate' && $grant->manager!="Y"))--><a href="#popup_menu_area" class="member_{$document->get('member_srl')}" onclick="return false"><!--@end-->{$document->getUserName()}</a></td>
							<!--@elseif($val->type == 'readed_count')-->
								<td class="reading">{$document->get('readed_count')>0?$document->get('readed_count'):'&nbsp;'}</td>
							<!--@elseif($val->type == 'voted_count')-->
								<td class="recommend">{$document->get('voted_count')!=0?$document->get('voted_count'):'&nbsp;'}</td>
							<!--@elseif($val->type == 'last_post')-->
                                <td class="lastReply">
                                    <!--@if((int)($document->get('comment_count'))>0)-->
										<!--@if($module_info->default_style=="slide" || ($module_info->list_link=="noview" && ($document->get('member_srl')!=$logged_info->member_srl || $grant->manager!="Y") ))-->
										<!--@else-->
                                        <a href="{$document->getPermanentUrl()}#comment" class="replyAnchor" <!--@if($module_info->list_link=="popup")-->onclick="window.open(this.href+'&layout_srl={$popup_layout}','','menubar=no,toolbar=no,location=no,resizable=yes,status=no,scrollbars=yes,fullscreen=no,width={$module_info->popup_width}px,height={$module_info->popup_height}px,top=50px,left=50px');return false"<!--@end-->>
										<!--@end-->
										{zdate($document->get('last_update'),'Y-m-d')} {zdate($document->get('last_update'),'H:i')}</a>
                                        <!--@if($document->get('last_updater'))-->
                                            <sub class="by">by</sub>
                                            {htmlspecialchars($document->get('last_updater'))}
                                        <!--@end-->
                                    <!--@else-->
                                        &nbsp;
                                    <!--@end-->
                                </td>
							<!--@end-->
	
						<!--// 사용자 선언 확장변수일 경우 -->
						<!--@elseif( $module_info->grant_extra=="Y" && (((substr_count($val->eid,'_grantAA') || substr_count($val->eid,'_grantMA') || substr_count($val->eid,'_grantGA')) && !$grant->manager) || ((substr_count($val->eid,'_grantAM') || substr_count($val->eid,'_grantMM') || substr_count($val->eid,'_grantGM')) && !$logged_info)) )-->
						<!--@else-->
							<!--@if( strstr(strtolower($val->eid),"iconurl_") && $module_info->iconurl_use!="N")-->
								<!--@if($document->getExtraValue($val->idx))-->
									<td><a href="{$document->getExtraValue($val->idx)}" onclick="window.open(this.href);return false"><img src="./img/{$module_info->colorset}/{$val->eid}.gif" class="iePngFix" ></a></td>
								<!--@else-->
									<td>&nbsp;</td>
								<!--@end-->

							<!--@elseif(!(!$grant->manager && $val->eid == 'ordering'))-->
								<td>{$document->getExtraValueHTML($val->idx)}&nbsp;</td>
							<!--@end-->
						<!--@end-->
					<!--@end-->
					<!--@if($module_info->display_list_edit=="Y")-->
						<td class="checkbox">
						<!--@if($document->isEditable() || $grant->manager)-->
							<a href="{getUrl('act','dispBoardWrite','document_srl',$document->document_srl,'comment_srl','')}" class="button {$btn_class}">
								<span>{$lang->cmd_modify}</span>
							</a>
							<a href="{getUrl('act','dispBoardDelete','document_srl',$document->document_srl,'comment_srl','')}" class="button {$btn_class}">
								<span>{$lang->cmd_delete}</span>
							</a>
						<!--@else-->&nbsp;
						<!--@endif-->	
						</td>
					<!--@end-->
					<!--@if($grant->manager)-->
						<td class="check"><input type="checkbox" name="cart" value="{$document->document_srl}" title="Check this" onclick="doAddDocumentCart(this)" <!--@if($document->isCarted())-->checked="checked"<!--@end--> /></td>
					<!--@end-->

				</tr>
				<!--@end-->
				<!--@end-->
				<!--@end-->

				<!--@foreach($document_list as $no => $document)-->
				<!--@if(  !($document->isSecret() && ($module_info->secret_list=="hide_all" || (($module_info->secret_list=="hide") && ($document->getUserID()!=$logged_info->user_id)) )) || $grant->manager )-->
				{@$member_grant=$document->getExtraEidValue('member_grantAA')}
				{@$group_grant=$document->getExtraEidValue('group_grantAA')}
				<!--@if( ((!$member_grant || ($member_grant &&  substr_count(",".$member_grant.",", ",".$logged_info->user_id.","))) && (!$group_grant || ($group_grant &&  substr_count(",".$group_grant.",", ",".$logged_info->group.",")))) || $grant->manager=="Y" || $grant->document_grant=="N")-->
				<tr class="bg{($no+1)%2+1}">
					<!--// 목록 설정으로 table theader 생성 -->
					<!--@foreach($list_config as $key => $val)-->
	
						<!--// 기본 컨텐츠일 경우 -->
						<!--@if($val->idx == -1)-->
							<!--// 컨텐츠 종류에 따라서 출력 -->
							<!--@if($val->type == 'no')-->
								<td class="num"><!--@if($document_srl == $document->document_srl)-->&raquo;<!--@elseif($sortkey)-->{$total_count-($no+(($page-1)*$module_info->list_count))}<!--@else-->{$no}<!--@end--></td>
							<!--@elseif($val->type == 'title')-->
								<!--@if($module_info->use_category == "Y" && $module_info->display_category=="Y" && $module_info->category_seperate=="seperate_left")-->
									<td class="category" ><span class="category" style="background:none" <!--@if($module_info->category_cut_size< strlen($category_list[$document->get('category_srl')]->title) )-->title="{$category_list[$document->get('category_srl')]->title}"<!--@end--> <!--@if($category_list[$document->get('category_srl')]->color)-->style="color:{$category_list[$document->get('category_srl')]->color};"<!--@end-->>{cut_str($category_list[$document->get('category_srl')]->title, $module_info->category_cut_size, '..')}</span></td>
								<!--@end-->

								<td class="title">
								<!--@if($document->isSecret() && $module_info->secret_list=="delete" && $grant->manager!="Y" )-->
									<span>{$lang->secret_delete}</span>
								<!--@else-->
									{@$subject_cut_size=$module_info->subject_cut_size}
									<!--@if($module_info->icon_hot && $module_info->icon_hot<=$document->get('readed_count'))--><img src="./img/icons/hot.gif" class="iePngFix" />{@$subject_cut_size-=10}<!--@end-->
									<!--@if($module_info->use_category == "Y" && $module_info->display_category=="Y" && $document->get('category_srl') && $module_info->category_seperate=="subject")-->
									<span class="category" <!--@if($module_info->category_cut_size< strlen($category_list[$document->get('category_srl')]->title) )-->title="{$category_list[$document->get('category_srl')]->title}"<!--@end--> <!--@if($category_list[$document->get('category_srl')]->color!="transparent")-->style="color:{$category_list[$document->get('category_srl')]->color};"<!--@end-->>{cut_str($category_list[$document->get('category_srl')]->title, $module_info->category_cut_size, '..')}</span>
									<!--@end-->

									{@$link_url = $document->getExtraEidValue('link_url');}
									<!--@if ($grant->manager!="Y" && $logged_info->user_id!=$document->get('user_id') && $module_info->use_link == "Y" && $link_url)-->
										<!--@if (!strstr($link_url,'http://'))-->
											{@$link_url = 'http://'.$link_url;}
										<!--@end-->

										<!--@if($module_info->link_hit!="N" && $read_count == $document->document_srl && $read_counted[$document->document_srl]!="Y")-->
											{@	
												$oDocumentController = &getController('document');
												$oDocumentController->updateReadedCount($document);	
												$read_counted[$document->document_srl]="Y";
											}
											<script>location.href="{getUrl('','mid',$mid,'page',$page,'document_srl','','listStyle',$listStyle)}"</script>
										<!--@end-->
										<a href="{getUrl('','read_count',$document->document_srl,'mid',$mid,'page',$page,'document_srl','','listStyle',$listStyle,'layout_srl',$layout_srl)}"  onclick="window.open('{$link_url}');" style="cursor:pointer">
									<!--@elseif($module_info->default_style=="slide" || ($module_info->list_link=="noview" && ($document->get('member_srl')!=$logged_info->member_srl || $grant->manager!="Y") ))-->
									<!--@else-->
										<a <!--@if((!$document->isSecret() || $grant->manager=="Y") && $module_info->subject_mouseover=="subject" && ($subject_cut_size< strlen(strip_tags($document->getTitle())))  )-->title="{strip_tags($document->getTitle())}" <!--@elseif((!$document->isSecret() || $grant->manager=="Y") && $module_info->subject_mouseover=="content")-->title="{strip_tags($document->getContentText($module_info->content_cut_size))}"<!--@end--> href="{getUrl('document_srl',$document->document_srl, 'listStyle', $listStyle, 'cpage','')}" <!--@if($module_info->list_link=="popup")-->onclick="window.open(this.href+'&layout_srl={$popup_layout}','','menubar=no,toolbar=no,location=no,resizable=yes,status=no,scrollbars=yes,fullscreen=no,width={$module_info->popup_width}px,height={$module_info->popup_height}px,top=50px,left=50px');return false"<!--@end-->>
									<!--@end-->
									<!--@if($document->isSecret() && $module_info->secret_list=="delete" && $grant->manager=="Y" )-->
										<span>{$lang->secret_delete}</span>
									<!--@elseif($module_info->default_style=="slide" && (!$document->isSecret() || ($document->isSecret() && ($document->get('member_srl')==$logged_info->member_srl || $grant->manager=="Y"))))-->
										<div class="dhtmlgoodies_question">{$document->getTitle($module_info->subject_cut_size)}</div>								
									<!--@else-->
									{$document->getTitle($subject_cut_size)}
									<!--@end-->
									<!--@if($module_info->display_new!="N")-->
										{$document->printExtraImages(60*60*$module_info->duration_new)}
									<!--@end-->
									</a>
						
									<!--@if($document->getCommentCount())-->
										<!--@if($module_info->default_style=="slide" || ($module_info->list_link=="noview" && ($document->get('member_srl')!=$logged_info->member_srl || $grant->manager!="Y") ))-->
										<!--@else-->
										<a href="{getUrl('document_srl', $document->document_srl)}#comment" <!--@if($module_info->list_link=="popup")-->onclick="window.open(this.href+'&layout_srl={$popup_layout}','','menubar=no,toolbar=no,location=no,resizable=yes,status=no,scrollbars=yes,fullscreen=no,width={$module_info->popup_width}px,height={$module_info->popup_height}px,top=50px,left=50px');return false"<!--@end-->>
										<!--@end-->
										<span class="replyNum" title="Replies">[{$document->getCommentCount()}]</span></a>
									<!--@end-->
	
									<!--@if($document->getTrackbackCount())-->
										<!--@if($module_info->default_style=="slide" || ($module_info->list_link=="noview" && ($document->get('member_srl')!=$logged_info->member_srl || $grant->manager!="Y") ))-->
										<!--@else-->
										<a href="{getUrl('document_srl', $document->document_srl)}#trackback" <!--@if($module_info->list_link=="popup")-->onclick="window.open(this.href+'&layout_srl={$popup_layout}','','menubar=no,toolbar=no,location=no,resizable=yes,status=no,scrollbars=yes,fullscreen=no,width={$module_info->popup_width}px,height={$module_info->popup_height}px,top=50px,left=50px');return false"<!--@end-->>
										<!--@end-->
										<span class="trackbackNum" title="Trackbacks">[{$document->getTrackbackCount()}]</span></a>
									<!--@end-->

									<!--@if($module_info->default_style=="slide" && (!$document->isSecret() || ($document->get('member_srl')!=$logged_info->member_srl || $grant->manager!="Y")))-->
										<div class="dhtmlgoodies_answer" style="width:{$module_info->slide_width}">
										    <!--#include("./view_slide.html")-->
										</div>
									<!--@end-->
								<!--@end-->
								</td>
								<!--@if($module_info->use_category == "Y" && $module_info->display_category=="Y" && $module_info->category_seperate=="seperate_right")-->
									<td class="category" ><span class="category" style="background:none" <!--@if($module_info->category_cut_size< strlen($category_list[$document->get('category_srl')]->title) )-->title="{$category_list[$document->get('category_srl')]->title}"<!--@end--> <!--@if($category_list[$document->get('category_srl')]->color)-->style="color:{$category_list[$document->get('category_srl')]->color};"<!--@end-->>{cut_str($category_list[$document->get('category_srl')]->title, $module_info->category_cut_size, '..')}</span></td>
								<!--@end-->


							<!--@elseif($val->type == 'thumbnail')-->
								<td>
								<!--@if ($grant->manager!="Y"  && $logged_info->user_id!=$document->get('user_id') && $module_info->use_link == "Y" && $document->getExtraEidValue('link_url'))-->
									<!--@if (!strstr($document->getExtraEidValue('link_url'),'http://'))-->
										{@$link_url = 'http://'.$document->getExtraEidValue('link_url');}
									<!--@else-->
										{@$link_url = $document->getExtraEidValue('link_url');}
									<!--@end-->

									<!--@if($module_info->link_hit!="N" && $read_count == $document->document_srl && $read_counted[$document->document_srl]!="Y")-->
										{@	
											$oDocumentController = &getController('document');
											$oDocumentController->updateReadedCount($document);	
											$read_counted[$document->document_srl]="Y";
										}
										<script>location.href="{getUrl('','mid',$mid,'page',$page,'document_srl','','listStyle',$listStyle)}"</script>
									<!--@end-->
									<a href="{getUrl('','read_count',$document->document_srl,'mid',$mid,'page',$page,'document_srl','','listStyle',$listStyle,'layout_srl',$layout_srl)}"  onclick="window.open('{$link_url}');" style="cursor:pointer">
								<!--@elseif($module_info->default_style=="slide" || ($module_info->list_link=="noview" && ($document->get('member_srl')!=$logged_info->member_srl || $grant->manager!="Y") ))-->
								<!--@else-->
									<a href="{getUrl('document_srl',$document->document_srl,'listStyle',$listStyle, 'cpage','')}" <!--@if($module_info->list_link=="popup")-->onclick="window.open(this.href+'&layout_srl={$popup_layout}','','menubar=no,toolbar=no,location=no,resizable=yes,status=no,scrollbars=yes,fullscreen=no,width={$module_info->popup_width}px,height={$module_info->popup_height}px,top=50px,left=50px');return false"<!--@end-->>
								<!--@end-->
								<!--@if($document->thumbnailExists($module_info->thumbnail_width, $module_info->thumbnail_height, $module_info->thumbnail_type))-->
									<img src="{$document->getThumbnail($module_info->thumbnail_width, $module_info->thumbnail_height, $module_info->thumbnail_type)}" alt="" class="iePngFix"/>
								<!--@elseif($module_info->thumbnail_noimage)-->
									<img src="{$module_info->thumbnail_noimage}"  style="width:{$module_info->thumbnail_width}px; height:{$module_info->thumbnail_height}px; padding:{$module_info->thumbnail_padding}px;" class="iePngFix" >
								<!--@else-->
									<img src="./img/{$module_info->colorset}/noimage.gif"  style="width:{$module_info->thumbnail_width}px; height:{$module_info->thumbnail_height}px; " class="iePngFix" >
								<!--@end-->
								</a>
								</td>
							<!--@elseif($val->type == 'nick_name')-->
								<td class="author"><!--@if(!($sortkey=='regdate' && $grant->manager!="Y"))--><a href="#popup_menu_area" class="member_{$document->get('member_srl')}" onclick="return false"><!--@end-->{$document->getNickName()}</a></td>
							<!--@elseif($val->type == 'user_id')-->
								<td class="author">{$document->getUserID()}</a></td>
							<!--@elseif($val->type == 'user_name')-->
								<td class="author"><!--@if(!($sortkey=='regdate' && $grant->manager!="Y"))--><a href="#popup_menu_area" class="member_{$document->get('member_srl')}" onclick="return false"><!--@end-->{$document->getUserName()}</a></td>
							<!--@elseif($val->type == 'regdate')-->
								<td class="date">{$document->getRegdate('Y-m-d')}</td>
							<!--@elseif($val->type == 'last_update')-->
								<td class="date">{zdate($document->get('last_update'),'Y-m-d H:i')}</td>
							<!--@elseif($val->type == 'readed_count')-->
								<td class="reading">{$document->get('readed_count')>0?$document->get('readed_count'):'&nbsp;'}</td>
							<!--@elseif($val->type == 'voted_count')-->
								<td class="recommend">{$document->get('voted_count')!=0?$document->get('voted_count'):'&nbsp;'}</td>
							<!--@elseif($val->type == 'last_post')-->
                                <td class="lastReply">
                                    <!--@if((int)($document->get('comment_count'))>0)-->
                                        <!--@if($module_info->default_style=="slide" || ($module_info->list_link=="noview" && ($document->get('member_srl')!=$logged_info->member_srl || $grant->manager!="Y") ))-->
										<!--@else-->
										<a href="{$document->getPermanentUrl()}#comment" class="replyAnchor" <!--@if($module_info->list_link=="popup")-->onclick="window.open(this.href+'&layout_srl={$popup_layout}','','menubar=no,toolbar=no,location=no,resizable=yes,status=no,scrollbars=yes,fullscreen=no,width={$module_info->popup_width}px,height={$module_info->popup_height}px,top=50px,left=50px');return false"<!--@end-->>
										<!--@end-->
										{zdate($document->get('last_update'),'Y-m-d')} {zdate($document->get('last_update'),'H:i')}</a>
                                        <!--@if($document->get('last_updater'))-->
                                            <sub class="by">by</sub>
                                            {htmlspecialchars($document->get('last_updater'))}
                                        <!--@end-->
                                    <!--@else-->
                                        &nbsp;
                                    <!--@end-->
                                </td>
							<!--@end-->
	
						<!--// 사용자 선언 확장변수일 경우 -->
						<!--@elseif( $module_info->grant_extra=="Y" && (((substr_count($val->eid,'_grantAA') || substr_count($val->eid,'_grantMA') || substr_count($val->eid,'_grantGA')) && !$grant->manager) || ((substr_count($val->eid,'_grantAM') || substr_count($val->eid,'_grantMM') || substr_count($val->eid,'_grantGM')) && !$logged_info)) )-->
						<!--@else-->
							<!--@if( strstr(strtolower($val->eid),"iconurl_") && $module_info->iconurl_use!="N")-->
								<!--@if($document->getExtraValue($val->idx))-->
									<td><a href="{$document->getExtraValue($val->idx)}" onclick="window.open(this.href);return false"><img src="./img/{$module_info->colorset}/{$val->eid}.gif" class="iePngFix" ></a></td>
								<!--@else-->
									<td>&nbsp;</td>
								<!--@end-->

							<!--@elseif(!(!$grant->manager && strstr(strtolower($val->eid),"ordering") ))-->
								<td>{$document->getExtraValueHTML($val->idx)}&nbsp;</td>
							<!--@end-->
						<!--@end-->
					<!--@end-->

					<!--@if($module_info->display_list_edit=="Y")-->
						<td class="checkbox">
						<!--@if($document->isEditable() || $grant->manager)-->
							<a href="{getUrl('act','dispBoardWrite','document_srl',$document->document_srl,'comment_srl','')}" class="button {$btn_class}">
								<span>{$lang->cmd_modify}</span>
							</a>
							<a href="{getUrl('act','dispBoardDelete','document_srl',$document->document_srl,'comment_srl','')}" class="button {$btn_class}">
								<span>{$lang->cmd_delete}</span>
							</a>
						<!--@else-->&nbsp;
						<!--@endif-->
						</td>
					<!--@end-->
					<!--@if($grant->manager)--><td class="checkbox"><input type="checkbox" name="cart" value="{$document->document_srl}" title="Check this" onclick="doAddDocumentCart(this)" <!--@if($document->isCarted())-->checked="checked"<!--@end--> /></td><!--@end-->
				</tr>
				<!--@end-->
				<!--@end-->
				<!--@end-->
				
			<!--@end-->
			</tbody>
        </table>
		
    </fieldset>
</form>


<!--@foreach($document_list as $no => $document)-->
{$cart = Context::get('cart')}
<!--@if($document->isCarted())-->
	<!--@if($cart_srl)-->{@$cart_srl.=",";}<!--@end-->
	{@$cart_srl .= $document->document_srl}
<!--@end-->
<!--@end-->
{$cart_srl}