{@$member_grantAA=$oDocument->getExtraEidValue('member_grantAA')}
{@$group_grantAA=$oDocument->getExtraEidValue('group_grantAA')}
{@$extra_regdate=$oDocument->getExtraEidValue('regdate')}
{@$fake_name=$oDocument->getExtraEidValue('nick_name')}
<!--@if($module_info->use_mosaic_name=="Y")-->{@$fake_name=cut_str($fake_name,3,'**')}<!--@end-->


<!--@if(!(((!$member_grantAA || ($member_grantAA &&  substr_count(",".$member_grantAA.",", ",".$logged_info->user_id.","))) && (!$group_grantAA || ($group_grantAA &&  substr_count(",".$group_grantAA.",", ",".$logged_info->group.",")))) || $grant->manager || !$grant->document_grant))-->
<div class="boardRead" style="border-top:1px solid #ccc;;border-bottom:1px solid #ccc;">
	<div class="boardReadBody" style="padding:20px 0px 20px 0px">
	<p style="text-align:center; font-weight:bold;">&quot;{$lang->msg_is_no_grant}&quot;</p>
	</div>
</div>


<!--// popup_style 은  view 페이지를 팝업으로 쓰기 위해 익스플로러를 최소형태로 처리할 경우 의미 -->
<!--@elseif($oDocument->getExtraEidValue('popup_style')=="Y")-->
	{$oDocument->getContent(false)}
	<div class="contentButton">
		<!--@if($oDocument->isEditable())-->
			<!--// 포인트 사용시 답글이 있으면 관리자외 수정 삭제 불가 단, 다운로드 포인트 제외-->
			{@ $is_disabled = (($module_info->use_reward == 'Y' && $oDocument->reward_point) || $module_info->use_reward == 'R') && $oDocument->comment_count > 0}

			<!--// 수정/삭제 버튼 -->
			<!--@if($grant->manager || !$is_disabled)-->
				<a href="{getUrl('act','dispBoardWrite','document_srl',$oDocument->document_srl,'comment_srl','')}" class="button {$btn_class}">
					<span>{$lang->cmd_modify}</span>
				</a>
				<a href="{getUrl('act','dispBoardDelete','document_srl',$oDocument->document_srl,'comment_srl','')}" class="button {$btn_class}">
					<span>{$lang->cmd_delete}</span>
				</a>
			<!--@endif-->
		<!--@endif-->
	</div>
<!--@else-->


	<!--@if (!$grant->manager && $logged_info->user_id!=$oDocument->get('user_id') && $module_info->use_link == "Y" && $oDocument->getExtraEidValue('link_url'))-->
		{@$link_url = $oDocument->getExtraEidValue('link_url')}
		<!--@if (!strstr($link_url,'http://'))-->
			{@$link_url = 'http://'.$link_url;}
		<!--@end-->
		<script>location.href='{$link_url}';</script>
	<!--@end-->



	<!--  view 화면에서 관리자 설정 버튼 넣어주기 위해서 (시작) (목록의 하단에 카테고리 배치되게 하고자 header 에서 이전시킴) -->
	<!--@if($grant->manager && $module_info->display_setup_button != 'N' && $module_info->default_style != 'blog')-->
	<div class="boardInformation" style="border:0px solid red;">
		<!--@if($total_count && $module_info->default_style != 'blog')-->
		<div class="infoSum">{$lang->document_count} <strong>{number_format($total_count)}</strong></div>
		<!--@end-->

		<div class="infoView">
			<ul>
				<!--@if($grant->manager && $module_info->display_setup_button != 'N')-->
				<li class="setup"><a href="{getUrl('act','dispBoardAdminBoardInfo')}" title="{$lang->cmd_setup}"><span>{$lang->cmd_setup}</span></a></li>
				<!--@end-->
				<span style="display:none">
					<li class="listTypeClassic icon<!--@if($module_info->default_style=='list')--> active<!--@end-->"><a href="{getUrl('listStyle','list','act','','document_srl','')}" title="Classic Style"><span>Classic Style</span></a></li>
					<li class="listTypeZine icon<!--@if($module_info->default_style=='webzine')--> active<!--@end-->"><a href="{getUrl('listStyle','webzine','act','','document_srl','')}" title="Zine Style"><span>Zine Style</span></a></li>
					<li class="listTypeGallery icon<!--@if($module_info->default_style=='gallery')--> active<!--@end-->"><a href="{getUrl('listStyle','gallery','act','','document_srl','')}" title="Gallery Style"><span>Gallery Style</span></a></li>
				</span>
			</ul>
		</div>
	</div>
	<!--@end-->
	<!--  view 화면에서 관리자 설정 버튼 넣어주기 위해서 (끝)  -->


	<div class="boardRead">

		<div class="boardReadHeader" <!--@if($module_info->display_view_header == "N")-->style="display:none"<!--@end--> >
			
			<div class="titleArea">
				<h3 class="title"><a href="{$oDocument->getPermanentUrl()}">{$oDocument->getTitle()}</a></h3>
				<a href="{getUrl('category',$oDocument->get('category_srl'), 'document_srl', '')}" class="category">{$category_list[$oDocument->get('category_srl')]->title}</a>
				<span class="sum">
					<!--@if($grant->manager || $module_info->display_readed_count!='N')--><span class="read">{$lang->readed_count} <span class="num">{$oDocument->get('readed_count')}</span></span><!--@end-->
					<!--@if($module_info->display_voted_count!='N')--><span class="vote">{$lang->voted_count} <span class="num">{$oDocument->get('voted_count')}</span></span><!--@end-->
					<!--@if($grant->manager || $module_info->display_regdate!='N')--><span class="date"><!--@if($module_info->use_fake_regdate=="Y" && $extra_regdate)-->{substr($extra_regdate,0,4)}.{substr($extra_regdate,4,2)}.{substr($extra_regdate,6,2)}<!--@else-->{$oDocument->getRegdate('Y.m.d')} {$oDocument->getRegdate('H:i:s')}<!--@end--></span><!--@end-->
				</span>
			</div>


			<!--@if( $module_info->display_memberinfo=="Y" && (($member_info->member_srl == $logged_info->member_srl ) || $grant->manager))-->
			<!--@else-->	
				<div class="authorArea">
				<!--@if($grant->manager || $module_info->display_author!='N')-->
					<!--@if(!$oDocument->getMemberSrl())-->
						<!--@if($oDocument->isExistsHomepage())-->
							<a href="{$oDocument->getHomepageUrl()}" onclick="window.open(this.href);return false;" class="author">					<!--@if($module_info->use_fake_name=="Y" && $fake_name)-->{$fake_name}<!--@else-->{$oDocument->getNickName()}<!--@end--></a>
						<!--@else-->
							<!--@if($module_info->use_fake_name=="Y" && $fake_name)-->{$fake_name}
							<!--@elseif($module_info->use_mosaic_name=="Y")-->{cut_str($oDocument->getNickName(),3,'**')}
							<!--@else-->{$oDocument->getNickName()}<!--@end-->
							<!--@end-->
						<!--@end-->
					<!--@else-->
						<!--@if($module_info->use_fake_name=="Y" && $fake_name && $grant->maneger)-->
							<a href="#popup_menu_area" class="member_{$oDocument->get('member_srl')} author" onclick="return false">{$fake_name}</a>
						<!--@elseif($module_info->use_fake_name=="Y" && $fake_name)-->{$fake_name}
						<!--@else-->
						<a href="#popup_menu_area" class="member_{$oDocument->get('member_srl')} author" onclick="return false"><!--@if($module_info->display_author=='username')--><!--@if($module_info->use_mosaic_name=="Y")-->{cut_str($oDocument->getUserName(),3,'**')}<!--@else-->{$oDocument->getUserName()}<!--@end--><!--@else--><!--@if($module_info->use_mosaic_name=="Y")-->{cut_str($oDocument->getNickName(),3,'**')}<!--@else-->{$oDocument->getNickName()}<!--@end--><!--@end--></a>
					<!--@end-->
				<!--@end-->
					<span class="ipAddress"><!--@if($grant->manager || $module_info->display_ip_address!='N')-->{$oDocument->getIpaddress()}<!--@end--></span>
					<!--@if( $module_info->display_permalink!='N')--><a href="{$oDocument->getPermanentUrl()}" class="permaLink">{$oDocument->getPermanentUrl()}</a><!--@end-->
				</div>
			<!--@end-->


			<!--@if($oDocument->hasUploadedFiles() && ($module_info->display_file=='top' || $module_info->display_file=='top_bottom'))-->
			<dl id="files_top"  class="attachedFile<!--@if($module_info->file_style=='open_line' || $module_info->file_style=='open_br')--> open<!--@end-->" style="border-top:1px solid #ddd; _border-bottom:1px solid #ddd;  padding:7px 0px 5px 3px">
				<dt><img src="./img/common/iconFiles.gif" width="27" height="11" alt="{$lang->uploaded_file}" /> <button type="button" class="fileToggle" onclick="jQuery(this).parents('dl.attachedFile').toggleClass('open');return false;">{$lang->uploaded_file} ({$oDocument->get('uploaded_count')})</button></dt>
				<dd>
					<ul class="files">
						{@ $uploaded_list = $oDocument->getUploadedFiles() }
						{@ $file_count=0;}
						<!--@foreach($uploaded_list as $key => $file)-->
						<!--@if( $module_info->file_excpetimage=='Y' && (substr_count(strtolower($file->source_filename),'.jpg') || substr_count(strtolower($file->source_filename),'.gif') || substr_count(strtolower($file->source_filename),'.bmp') || substr_count(strtolower($file->source_filename),'.png')))-->
						<!--@else-->
						{@$file_count++}
						<li<!--@if($module_info->file_style=='close_br' || $module_info->file_style=='open_br')--> style="padding:2px 0px;float:left; clear:left;"<!--@end-->><a <!--@if($module_info->file_downmessage=="Y")-->onclick="return file_download_check();"<!--@end--> href="{getUrl('')}{$file->download_url}">{$file->source_filename} ({number_format($file->download_count)}{$lang->text_times}) <span class="bubble">[File Size:{FileHandler::filesize($file->file_size)}/Download:{number_format($file->download_count)}]</span></a></li>
						<!--@end-->
						<!--@end-->
					</ul>
				</dd>
			</dl>
			<!--@if(!$file_count)-->
			<script>document.getElementById('files_top').style.display='none'</script>
			<!--@end-->
			<!--@end-->

		</div>

		<!--@if($oDocument->isExtraVarsExists() && (!$oDocument->isSecret() || $oDocument->isGranted()) )-->
		<table border="1" cellspacing="0" summary="Extra Form" class="extraVarsList" <!--@if($oDocument->hasUploadedFiles() && $module_info->display_file=='middle' )-->style="margin-bottom:0px; border-bottom:0px;"<!--@end-->>
		<!--@foreach($oDocument->getExtraVars() as $key => $val)-->
			<!--@if(strstr($val->name,"장비") && $mid=="offer_reservation")-->
					{@$order_num++;}
					<!--@if($order_num==1)-->
					</table>
					<table cellpadding=3>
						<col align=center width=50><col align=center width=100><col align=center width=60><col align=center width=70><col align=center width=70><col align=center width=350>
						<tr style="background:#333;"><td>번호</td><td>이름</td><td>종류</td><td>신발사이즈</td><td>키(신장)</td><td>기타사항</td></tr>
					<!--@end-->
						<!--@if($val->getValueHTML())-->
						{@  $order="";
							$order=explode(";",$val->value);
						}
						<tr>
							<td>{$order_num}</td>
							<td>{$order[0]}</td>
							<td>{$order[1]}</td>
							<td>{$order[2]}</td>
							<td>{$order[3]}</td>
							<td>{$order[4]}&nbsp;</td>
						</tr>
						<!--@end-->
					<!--@if($order_num==10)-->
						</table>
						<br><br><br>기타 하고 싶은 말 : <br>
					<!--@end-->
			<!--@elseif( $module_info->grant_extra=="Y" && (((substr_count($val->eid,'_grantAA') || substr_count($val->eid,'_grantGA')) && !$grant->manager) || (substr_count($val->eid,'_grantMA') && (!$grant->manager && !$oDocument->isGranted())) || ((substr_count($val->eid,'_grantAM') || substr_count($val->eid,'_grantMM') || substr_count($val->eid,'_grantGM')) && !$logged_info)) )-->
			<!--@else-->
				<!--@if( $module_info->extra_hidden=="Y" && !strip_tags($val->getValueHTML()))-->
				<!--@elseif(($val->eid=="parent_srl") && ($search_keyword=="N" || ($search_keyword!="N" && !$grant_manager)) )-->
				<!--@elseif(($val->eid=="parent_title") )-->
				<tr>
					<th>{$val->name} :</th>
					<td><a href="{$oDocument->getExtraEidValue('parent_srl')}" class="title">{$val->getValueHTML()}</a>&nbsp;</td>
				</tr>
				<!--@elseif($val->eid=="regdate" && $module_info->sort_key=='regdate' && $extra_regdate)-->
				<!--@else-->
				<tr>
					<th>{$val->name} :</th>
					<td>{$val->getValueHTML()}&nbsp;</td>
				</tr>
				<!--@end-->
			<!--@end-->
		<!--@end-->
		</table>
		<!--@end-->

		<!--@if($oDocument->hasUploadedFiles() && $module_info->display_file=='middle' )-->
		<dl id="files_middle" class="attachedFile<!--@if($module_info->file_style=='open_line' || $module_info->file_style=='open_br')--> open<!--@end-->" style="border-top:1px solid #ddd; border-bottom:1px solid #ddd; margin-top:0px; padding:5px 0px 5px 3px">
			<dt><img src="./img/common/iconFiles.gif" width="27" height="11" alt="{$lang->uploaded_file}" /> <button type="button" class="fileToggle" onclick="jQuery(this).parents('dl.attachedFile').toggleClass('open');return false;">{$lang->uploaded_file} ({$oDocument->get('uploaded_count')})</button></dt>
			<dd>
				<ul class="files">
					{@ $uploaded_list = $oDocument->getUploadedFiles() }
					{@ $file_count=0}
					<!--@foreach($uploaded_list as $key => $file)-->
					<!--@if( $module_info->file_excpetimage=='Y' && (substr_count(strtolower($file->source_filename),'.jpg') || substr_count(strtolower($file->source_filename),'.gif') || substr_count(strtolower($file->source_filename),'.bmp') || substr_count(strtolower($file->source_filename),'.png')))-->
					<!--@else-->
					{@ $file_count++}
					<li<!--@if($module_info->file_style=='close_br' || $module_info->file_style=='open_br')--> style="padding:2px 0px;float:left; clear:left;"<!--@end-->><a <!--@if($module_info->file_downmessage=="Y")-->onclick="return file_download_check();"<!--@end--> href="{getUrl('')}{$file->download_url}">{$file->source_filename} ({number_format($file->download_count)}{$lang->text_times})  <span class="bubble">[File Size:{FileHandler::filesize($file->file_size)}/Download:{number_format($file->download_count)}]</span></a></li>
					<!--@end-->
					<!--@end-->
				</ul>
			</dd>
		</dl>
		<!--@if(!$file_count)-->
		<script>document.getElementById('files_middle').style.display='none'</script>
		<!--@end-->
		<!--@end-->
		<div class="boardReadBody" id="boardReadBody">


			<!--@if($module_info->content_textarea_top)-->
				<div style="width:100%; float:left; border-bottom:1px solid #ccc; padding-bottom:7px; margin-bottom:7px">{nl2br($module_info->content_textarea_top)}</div>
			<!--@end-->
			<!--@if($oDocument->isSecret() && !$oDocument->isGranted())-->
				<form action="./" method="get" onsubmit="return procFilter(this, input_password)" class="secretMessage">
				<input type="hidden" name="mid" value="{$mid}" />
				<input type="hidden" name="page" value="{$page}" />
				<input type="hidden" name="document_srl" value="{$oDocument->document_srl}" />

					<p>&quot;{$lang->msg_is_secret}&quot;</p>
					<dl>
						<dt><label for="cpw">{$lang->password}</label> :</dt>
						<dd><input type="password" name="password" id="cpw" class="inputText" /><span class="buttonOfficial"><input type="submit" value="{$lang->cmd_input}" /></span></dd>
					</dl>

				</form>
			<!--@elseif($module_info->display_content=="N" && !$grant->manager)-->
			<!--@else-->

				<!--@if($module_info->view_style=="innergallery")-->
					{@ $uploaded_list = $oDocument->getUploadedFiles() }
					{@ $file_count=0}
					<!--@foreach($uploaded_list as $key => $file)-->
						<!--@if( substr_count(strtolower($file->source_filename),'.jpg') || substr_count(strtolower($file->source_filename),'.gif') || substr_count(strtolower($file->source_filename),'.bmp') || substr_count(strtolower($file->source_filename),'.png'))-->
						{@ $file_count++}
						<!--@if($file_count==1)-->
						<div style="float:left; padding:10px; width:100%">
						<!--@end-->
							{@$thumbnail = $file->uploaded_filename}
							<!--@if(!$module_info->innergallery_width)-->{@$module_info->innergallery_width=100;}<!--@end-->
							<!--@if(!$module_info->innergallery_height)-->{@$module_info->innergallery_height=100;}<!--@end-->
							<!--@if(!$module_info->innergallery_margin)-->{@$module_info->innergallery_margin=5;}<!--@end-->
							<!--@if($module_info->innergallery_expend!="N")-->
								<!--BeforeDocument({$document_srl},{$oDocument->get('member_srl')})-->
								<div align="center" style="float:left; width:{$module_info->innergallery_width+30}px; <!--@if($module_info->innergallery_title!='N')-->height:{$module_info->innergallery_height+50}px;<!--@else-->height:{$module_info->innergallery_height+30}px;<!--@end-->  padding:0px; margin:0px; border:0px solid red;">
									<!--@if($browser=="IE6")-->  <!-- 확대하기 섬네일이 IE6에서 안 나오는 버그 수정위해 중복출력 (이유는 모름 ㅡㅡ;)  -->
										<div class="document_{$document_srl}_{$oDocument->get('member_srl')} xe_content" style="display:none">
											<img editor_component='image_link' src="{$thumbnail}"  width="{$module_info->innergallery_width}" height="{$module_info->innergallery_height}" />
										</div>
									<!--@end-->
									<div class="document_{$document_srl}_{$oDocument->get('member_srl')} xe_content">
										<img editor_component='image_link' src="{$thumbnail}"  width="{$module_info->innergallery_width}" height="{$module_info->innergallery_height}"  style="border:1px solid #ccc; padding:5px" /><br>
										<!--@if($module_info->innergallery_title!="N")--><span>{substr($file->source_filename,0,-4)}</span><!--@end-->
									</div>
								</div>
								<!--AfterDocument({$document_srl},{$oDocument->get('member_srl')})-->
							<!--@else-->
								<div align="center" style="float:left; width:{$module_info->innergallery_width+($module_info->thumbnail_padding+1)*2}px; margin-bottom:5px">
									<img editor_component='image_link' src="{$thumbnail}"  width="{$module_info->innergallery_width}" height="{$module_info->innergallery_height}" style="border:1px solid #ccc" /><br>
									<!--@if($module_info->innergallery_title!="N")--><span>{substr($file->source_filename,0,-4)}</span><!--@end-->
								</div>
							<!--@end-->
						<!--@end-->
					<!--@end-->
					<!--@if($file_count)--></div><!--@end-->
				<!--@end-->

				<!--@if( ($module_info->display_contentlink=="N" && !$grant->manager) ||  $module_info->use_mailing=="Y")-->
					<div style="width:100%; float:left">{$oDocument->getContent(false)}</div>
				<!--@else-->
					<div style="width:100%; float:left;">{$oDocument->getContent()}</div>
				<!--@end-->
			<!--@end-->

			<!--@if($module_info->content_textarea_bottom)-->
				<div style="width:100%; float:left; border-top:1px solid #ccc; padding-top:7px; margin-bottom:7px">{nl2br($module_info->content_textarea_bottom)}</div>
			<!--@end-->

		</div>

		<div class="boardReadFooter" style="float:left; width:100%">
			<!--@if($module_info->display_sign != 'N' && ($oDocument->getProfileImage() || $oDocument->getSignature()))-->

				<!--@if($module_info->display_sign == 'expand' )-->
					<!-- sejin7490 수정 - 프로필에 상세 회원정보 넣기 위해서 (시작) -->
					{@
					$oMemberModel = &getModel('member');
					$group_list = $oMemberModel->getGroups($module_info->site_srl);
					$member_info = $oMemberModel->getMemberInfoByMemberSrl($oDocument->getMemberSrl(), $module_info->site_srl);
					$extend_form_list = $oMemberModel->getCombineJoinForm($member_info);
					}
					<!-- 회원 추가입력사항의 변수 받기 위해서 -->
					<!--@foreach($extend_form_list as $key => $val)-->
						<!--@if($val->column_title == "전화번호")-->
						{@ $member_info->tel = $val->value;}
						<!--@end-->
					<!--@end-->
					<!-- sejin7490 수정 - 프로필에 상세 회원정보 넣기 위해서 (끝) -->

					<div class="memberSignature">
					<table border=0 cellpadding=0 cellspacing=0 width=100% style="line-height:160%">
					<tr><td width=80>
					<!--@if($oDocument->getProfileImage())-->
						<img src="{$oDocument->getProfileImage()}" alt="profile" class="profile" />
					<!--@else-->
						<img src="./img/{$module_info->colorset}/noimage.gif" width="80" height="80" alt="profile" class="profile" />
					<!--@end-->
					</td>
					<td width=150 valign="top"><strong>글쓴이 : </strong>	
						<!--@if(!$oDocument->getMemberSrl())-->
							<!--@if($oDocument->isExistsHomepage())-->
								<a href="{$oDocument->getHomepageUrl()}" onclick="window.open(this.href);return false;" class="author">{$oDocument->getNickName()}</a>
							<!--@else-->
								{$oDocument->getNickName()} 
							<!--@end-->
						<!--@else-->
							<a href="#popup_menu_area" class="member_{$oDocument->get('member_srl')} author" onclick="return false"><!--@if($module_info->display_author=='username')-->{$oDocument->getUserName()}<!--@else-->{$oDocument->getNickName()}<!--@end--></a>
						<!--@end-->
						
						<br>
						<strong>그룹 : </strong>
						<!--@foreach($member_info->group_list as $key => $val)-->{$val} <!--@end-->
						<br>
						<div style="padding:10px 0px 0px 15px" style="display:none">
						<!--@if($oDocument->get('member_srl')!=$logged_info->member_srl)-->
						<a onclick=window.open("./?module=communication&act=dispCommunicationSendMessage&receiver_srl={$oDocument->get('member_srl')}") style="cursor:pointer">
						<img src="./img/{$module_info->colorset}/signature_message.gif" alt="쪽지보내기" /></a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<!--@end-->
						<!--@if($member_info->homepage)-->
						<a onclick=window.open("{$member_info->homepage}") style="cursor:pointer"><img src="./img/{$module_info->colorset}/signature_sedamblog.gif" alt="홈페이지" /></a>
						<!--@end-->
						</div>
					</td>
					<td width=80 valign="top"><img src="./img/{$module_info->colorset}/signature_introduce.gif" /></td>
					<td width="*">
					<!--@if($oDocument->getSignature())-->
						{$oDocument->getSignature()}
					<!--@end-->
					</td>
				</tr>
				</table>
				</div>
				<!--@else-->
					<div class="memberSignature">
					<!--@if($oDocument->getProfileImage())-->
						<img src="{$oDocument->getProfileImage()}" alt="profile" class="profile" align="left" />
					<!--@end-->
					<!--@if($oDocument->getSignature())-->
						{$oDocument->getSignature()}
					<!--@end-->
					</div>
				<!--@end-->
			<!--@end-->
			
			{@ $tag_list = $oDocument->get('tag_list') }
			<!--@if(count($tag_list) && $module_info->use_tag=="Y" )-->
			<dl class="tag">
				<dt><img src="./img/common/iconTag.gif" width="27" height="11" alt="{$lang->tag}" /></dt>
				<!--@for($i=0;$i<count($tag_list);$i++)-->
					{@ $tag = $tag_list[$i]; }
					<dd><a href="{getUrl('search_target','tag','search_keyword',$tag,'document_srl','')}" rel="tag">{htmlspecialchars($tag)}</a></dd>
				<!--@end-->
			</dl>
			<!--@end-->
			
			<!--@if($oDocument->hasUploadedFiles() && ($module_info->display_file=='bottom' || $module_info->display_file=='top_bottom'))-->
			<dl id="files_bottom" class="attachedFile<!--@if($module_info->file_style=='open_line' || $module_info->file_style=='open_br')--> open<!--@end-->" style="padding-bottom:5px; border-bottom:1px solid #ccc" >
				<dt><img src="./img/common/iconFiles.gif" width="27" height="11" alt="{$lang->uploaded_file}" /> <button type="button" class="fileToggle" onclick="jQuery(this).parents('dl.attachedFile').toggleClass('open');return false;">{$lang->uploaded_file} ({$oDocument->get('uploaded_count')})</button></dt>
				<dd>
					<ul class="files">
						{@ $uploaded_list = $oDocument->getUploadedFiles() }
						{@ $file_count=0}
						<!--@foreach($uploaded_list as $key => $file)-->
							<!--@if( $module_info->file_excpetimage=='Y' && (substr_count(strtolower($file->source_filename),'.jpg') || substr_count(strtolower($file->source_filename),'.gif') || substr_count(strtolower($file->source_filename),'.bmp') || substr_count(strtolower($file->source_filename),'.png')))-->
							<!--@else-->
							{@ $file_count++}
							<li<!--@if($module_info->file_style=='close_br' || $module_info->file_style=='open_br')-->  style="padding:2px 0px;float:left; clear:left;"<!--@end-->><a <!--@if($module_info->file_downmessage=="Y")-->onclick="return file_download_check();"<!--@end--> href="{getUrl('')}{$file->download_url}">{$file->source_filename} ({number_format($file->download_count)}{$lang->text_times}) <span class="bubble">[File Size:{FileHandler::filesize($file->file_size)}/Download:{number_format($file->download_count)}]</span></a></li>
							<!--@end-->
						<!--@end-->
					</ul>
				</dd>
			</dl>
			<!--@if(!$file_count)-->
			<script>document.getElementById('files_bottom').style.display='none'</script>
			<!--@end-->
			<!--@end-->
			
			<!--@if(!$oDocument->getTrackbackCount() && $module_info->display_trackback!='N')-->
			<dl class="trackbackURL">
				<dt>{$lang->trackback} : </dt>
				<dd><a href="{$oDocument->getTrackbackUrl()}" onclick="return false;">{$oDocument->getTrackbackUrl()}</a></dd>
			</dl>
			<!--@end-->
			
		</div>

		<div id="view_bottomborder" class="boardNavigation" style="width:100%; float:left">
			<div class="buttonLeft">
			<!--@if($module_info->default_style != 'blog'  && !($module_info->default_style == 'order' && !$grant->manager) && $module_info->button_list!="N")-->
				<a href="{getUrl('document_srl','')}" class="buttonOfficial"><span>{$lang->cmd_list}</span></a>
			<!--@end-->

			<!--@if($grant->manager && $module_info->use_publish=="Y" && $module_info->publish_mid )-->
				<a href="{getUrl('','mid','{$module_info->publish_mid}','act','dispBoardWrite','title',strip_tags($oDocument->getTitle()),'parent_mid',$mid,'link_url',$document_srl,'parent_name',$oDocument->getNickName(),'publish','Y')}" onclick="window.open(this.href);return false" class="buttonOfficial"><span>{$lang->cmd_summary}</span></a>
			<!--@end-->
					
			</div>


			<div class="buttonRight">

				<!--@if($module_info->multi_vote_range>1 || $module_info->multi_blame_range>1)-->
					<!--@if($document_srl && $multi_vote)-->
						{@	
							$oDocumentController = &getController('document');
							$multi_vote_message = $oDocumentController->updateVotedCount($document_srl,$multi_vote);	
						}
						<script>alert('{$multi_vote_message->message}');
								location.href="{getUrl('','document_srl',$document_srl,'mid',$mid,'page',$page,'listStyle',$listStyle)}"</script>
					<!--@end-->
					<script>
						function multi_vote (id,document_srl) {
							var multi_vote = document.getElementById(id).options[document.getElementById(id).options.selectedIndex].value;
							location.href="{getUrl('','document_srl',$document_srl,'mid',$mid,'page',$page,'listStyle',$listStyle)}"+'&multi_vote='+multi_vote;
						}
					</script>
				<!--@end-->


				<!--@if($module_info->multi_vote_range>1)-->
					<a style="cursor:pointer" class="buttonOfficial" style="border:0px solid red">					
					<select id="vote_point">
					<!--@for($range=1;$range<=$module_info->multi_vote_range;$range++)-->
						<option value="{$range}">+{$range}</option>
					<!--@end-->
					</select>
					<span onclick="multi_vote('vote_point',{$document_srl})"> {$lang->btn_vote}</span></a>&nbsp;
				<!--@elseif($module_info->display_btnVoteup=="Y")-->
					<a href="javascript:doCallModuleAction('document','procDocumentVoteUp',{$document_srl})" class="buttonOfficial"><span>{$lang->btn_vote}</span></a>
				<!--@end-->

				<!--@if($module_info->multi_blame_range>1)-->
					<a style="cursor:pointer" class="buttonOfficial" style="border:0px solid red">					
					<select id="blame_point">
					<!--@for($range=1;$range<=$module_info->multi_blame_range;$range++)-->
						<option value="(-1)*{$range}">-{$range}</option>
					<!--@end-->
					</select>
					<span onclick="multi_vote('blame_point',{$document_srl})"> {$lang->btn_vote}</span></a>&nbsp;
				<!--@elseif($module_info->display_btnVotedown=="Y")-->
					<a href="javascript:doCallModuleAction('document','procDocumentVoteDown',{$document_srl})" class="buttonOfficial btn_recommend"><span>{$lang->btn_vote}</span></a>
				<!--@end-->


				<!--@if($module_info->display_btnScrap=="Y" && $logged_info)-->
				<a href="javascript:doCallModuleAction('member','procMemberScrapDocument',{$document_srl})" class="buttonOfficial btn_recommend"><span>{$lang->btn_scrap}</span></a>
				<!--@end-->
				<!--@if($module_info->display_btnDeclare=="Y" && $logged_info)-->
				<a href="javascript:doCallModuleAction('document','procDocumentDeclare',{$document_srl})" class="buttonOfficial"><span>신고</span></a>
				<!--@end-->


				<!--@if($oDocument->isEditable())-->
				<!--  댓글 달린 경우 자신의 글 삭제 못하게 하는 기능 추가  -->
				<!--@if(!( !$grant->manager && $oDocument->getCommentCount() && $module_info->use_afteredit=="Y" ))-->	
				<a href="{getUrl('act','dispBoardWrite','document_srl',$oDocument->document_srl,'comment_srl','')}" class="buttonOfficial"><span>{$lang->cmd_modify}</span></a>
				<!--@end-->
				<!--@if(!( !$grant->manager && $oDocument->getCommentCount() && $module_info->use_afterdelete=="Y" ))-->	
				<a href="{getUrl('act','dispBoardDelete','document_srl',$oDocument->document_srl,'comment_srl','')}" class="buttonOfficial"><span>{$lang->cmd_delete}</span></a>
				<!--@end-->
				<!--@end-->

				<!--@if( !((!$grant->write_document && $module_info->button_write=="N") || $module_info->default_style == 'memo' || ($module_info->default_style == 'order' && !$grant->manager) )  && $module_info->use_sub!="out" )-->
				<a href="{getUrl('act','dispBoardWrite','document_srl','')}" class="buttonOfficial"><span>{$lang->cmd_write}</span></a>
				<!--@end-->
			</div>
		</div>

	</div>


	<!--@if($module_info->use_sub=="Y")-->
	{@$main_document_list=$document_list}
	{@$main_page=$page}
	{@$search_keyword=$parent_srl}


	<div style="margin-top:-35px; text-align:center; width:100%">
	<!--@if($grant->write_document)-->
		<a href="{getUrl('','mid',$mid,'act','dispBoardWrite','parent_srl',$parent_srl,'parent_title',strip_tags($oDocument->getTitle()))}" class="buttonOfficial"><span style=" width:100px; text-align:center;">{$lang->cmd_write_sub}</span></a>
	<!--@end-->
	</div>

	<div style="padding:10px 0px 20px 0px; border-bottom:1px solid #ccc;">
		<!-- (시작) sejin7940 추가 - 확장변수를 이용한 목록 정렬기능 &  목록순서 임의배치 기능-->
		{@
			$noticeTF = false;
			if($module_info->except_notice == 'Y') $noticeTF = true;
			$args->module_srl = $module_info->module_srl;
			$args->list_count = $module_info->search_list_count;
			$args->category_srl = $category;
			$args->search_target = 'extra_vars2';   // parent_srl  eid 값이 있는 확장변수 기재
			$args->search_keyword = $search_keyword;
			$oDocumentModel = &getModel('document');
			$output = $oDocumentModel->getDocumentList($args, $noticeTF);
			$document_list = $output->data;
		}

			{@$sortkey = $module_info->sort_key;}

		<!--@foreach($document_list as $no => $document)-->
			{@
				$extra_sortkey[$no] = $document->getExtraEidValue($sortkey);
				$extra_sortkey2[$no] = $no;
			}
			<!--@if(!$document->getExtraEidValue($sortkey) && $module_info->ordering=="Y")-->
			{@	$extra_sortkey[$no] = "999999999999999999";}
			<!--@end-->
		<!--@end-->
		<!--@if(count($document_list))-->
		{@
			array_multisort($extra_sortkey, $extra_sortkey2, $document_list);
			if($module_info->order_type == 'asc' || $order_type == 'asc') $document_list = array_reverse($document_list);
			$document_list = array_slice($document_list, $module_info->list_count * ($page-1), $module_info->list_count);
		}
		<!--@end-->

		<!-- (끝) sejin7940 추가 - 확장변수를 이용한 목록 정렬기능 -->


		<div class="subList">
			<!--@if($module_info->sublist_style == 'webzine'  )-->
				<!--#include("./_style.webzine.html")-->
			<!--@elseif($module_info->sublist_style == 'gallery')-->
				<!--#include("./_style.gallery.html")-->
			<!--@else-->
				<!--#include("./_style.list.html")-->
			<!--@end-->
		</div>
	</div>

	{@$document_list=$main_document_list}
	{@$page=$main_page}
	{@$search_keyword='N'}
	<!--@end-->



	<!--@if($oDocument->allowTrackback())-->
		<!--#include("./trackback.html")-->
	<!--@end-->

	<!--@if($display_prevnext=="middle" && ( $prev_num || $next_num))-->
	<ul id="prevnext">
	<!--@foreach($document_list as $no => $document)-->
		{@$document_list_next = $document_list;}
		<!--@if($document->document_srl == $document_srl)-->
			<!--@if( $prev_num )-->
				<!--@for($i=$prev_num;$i>0;$i--)-->
					<!--@if($document_list_next[$no+$i]->document_srl)-->
						<li><a href={getUrl('document_srl',$document_list_next[$no+$i]->document_srl)} style="float:left">> <!--@if($prev_num>1)-->{$i}번째 <!--@end-->윗&nbsp;&nbsp;&nbsp;글 - {$document_list_next[$no+$i]->getTitle($module_info->subject_cut_size)}</a><span style="float:right">{$document_list_next[$no+$i]->getRegdate('Y.m.d')}</span></li>
					<!--@elseif($page==1)-->
						<!--@if($message_first!="Y")--><li>> 더 이상 글이 없습니다</li><!--@end-->
						{@ $message_first="Y";}
					<!--@elseif($page>1)-->
						<li><a href={getUrl('','mid',$mid,'page',$page-1,category,$category,search_keyword,$search_keyword,search_target,$search_target,sort_index,$sort_index,order_type,$order_type)}>> <!--@if($prev_num>1)-->{$i}번째 <!--@end-->윗&nbsp;&nbsp;&nbsp;글 - 이전 페이지 목록으로 이동합니다</a></li>
					<!--@end-->
				<!--@end-->
			<!--@end-->
			<!--@if( $next_num )-->
				<!--@for($i=1;$i<=$next_num;$i++)-->
					<!--@if($document_list_next[$no-$i]->document_srl)-->
						<li <!--@if($prev_num && $next_num && $i==1)-->class="line"<!--@end-->><a href={getUrl('document_srl',$document_list_next[$no-$i]->document_srl)} style="float:left">> <!--@if($next_num>1)-->{$i}번째 <!--@end-->아래글 - {$document_list_next[$no-$i]->getTitle($module_info->subject_cut_size)}</a><span style="float:right">{$document_list_next[$no-$i]->getRegdate('Y.m.d')}</span></li>
					<!--@elseif($page_navigation->last_page==$page)-->
						<!--@if($message_last!="Y")--><li <!--@if($prev_num && $next_num && $i==1)-->class="line"<!--@end-->>> 더 이상 글이 없습니다</li><!--@end-->
						{@ $message_last="Y";}
					<!--@else-->
						<li <!--@if($prev_num && $next_num && $i==1)-->class="line"<!--@end-->>> <a href={getUrl('','mid',$mid,'page',$page+1,category,$category,search_keyword,$search_keyword,search_target,$search_target,sort_index,$sort_index,order_type,$order_type)}><!--@if($next_num>1)-->{$i}번째 <!--@end-->아래글 - 다음 페이지 목록으로 이동합니다</a></li>
					<!--@end-->
				<!--@end-->
			<!--@end-->
		<!--@end-->
	<!--@end-->
	</ul>
	<!--@end-->


	{@$member_grantAA=$oDocument->getExtraEidValue('member_grantAA')}
	{@$group_grantAA=$oDocument->getExtraEidValue('group_grantAA')}
	<!--@if($oDocument->allowComment() && $module_info->use_comment!="N" )-->
	<!--@if($oDocument->isSecret() && !$oDocument->isGranted())-->
	<!--@elseif(!(((!$member_grantAA || ($member_grantAA &&  substr_count(",".$member_grantAA.",", ",".$logged_info->user_id.","))) && (!$group_grantAA || ($group_grantAA &&  substr_count(",".$group_grantAA.",", ",".$logged_info->group.",")))) || $grant->manager=="Y" || $grant->document_grant=="N"))-->
	<!--@else-->

		<!--@if($oDocument->getCommentCount())-->
			<!--@if($module_info->use_bestcomment=="Y")-->
				<!--@if(!$module_info->bestcomment_total)-->{@$module_info->bestcomment_total='3'}<!--@end-->
				<!--@if(!$module_info->bestcomment_min)-->{@$module_info->bestcomment_min='1'}<!--@end-->
				{@
					$args->module_srl = $module_info->module_srl;
					$args->document_srl = $oDocument->document_srl;
					$args->list_count = $module_info->bestcomment_total;
					$args->sort_index = $args->order_target = 'voted_count';
					$args->order_type = 'desc';
					$args->min_vote = $module_info->bestcomment_min;
					$oCommentModel = &getModel('comment');
					$output_bestcomment = executeQuery('comment.getBestCommentList', $args);
				}
				{@$comment_style="best";}
				<!--@if(count($output_bestcomment->data)>1)-->
					<!--@foreach($output_bestcomment->data as $no=>$comment)-->
						{@$best_comment_srl = $comment->comment_srl}
						{@$best_comment = $oCommentModel->getComment($best_comment_srl) }
						{@$_comment_list[] = $best_comment }
					<!--@end-->
				<!--@else-->
					<!--@foreach($output_bestcomment->data as $key=>$value)-->
						<!--@if($key=='comment_srl')-->
							{@$_comment_list[] = $oCommentModel->getComment($value) }
						<!--@end-->
					<!--@end-->
				<!--@end-->

				<!--@if($output_bestcomment->data)-->
				<div id="div_best_comment">
					<div id="div_comment_view" style="display:block; width:98%; margin:0px auto 0px auto" <!--@if($module_info->view_comment=="button_view")-->style="display:none"<!--@end-->>
						<a name="comment"></a>
						<!--@if($module_info->comment_skin=="narrow")-->
				
							<!--#include("./comment_narrow.html")-->
						<!--@else-->
							<!--#include("./comment.html")-->
						<!--@end-->
					</div>
				</div>
				<!--@end-->
			<!--@end-->


			<!--@if($module_info->view_comment=="N" && !$grant->manager)-->
			<!--@else-->
			{@ $_comment_list = $oDocument->getComments() }
			{@$comment_style="default";}

			<div id="div_comment_view" style="float:left; width:100%" <!--@if($module_info->view_comment=="button_view")-->style="display:none"<!--@end-->>
				<a name="comment"></a>
				<!--@if($module_info->comment_skin=="narrow")-->
					<!--#include("./comment_narrow.html")-->
				<!--@else-->
					<!--#include("./comment.html")-->
				<!--@end-->
			</div>
			<!--@end-->
		<!--@end-->


		<div style="<!--@if((!$oDocument->getCommentCount() || $module_info->view_comment=='button_view' ) && ($module_info->write_comment=='button_page' || $module_info->write_comment=='button_view')  && $module_info->use_sub!='Y')-->margin-top:-35px;<!--@end--> text-align:center; width:100%">
		<!--@if($module_info->view_comment=="button_view")-->
			<a onclick="document.getElementById('div_comment_view').style.display='inline';this.style.display='none';" style="pointer:cursor;" class="buttonOfficial"><span style=" width:100px; text-align:center;">{$lang->cmd_comment_view}</span></a>&nbsp;&nbsp;
		<!--@end-->

		<!--@if($grant->write_comment && $oDocument->isEnableComment() && $module_info->write_comment=="button_page")-->
			&nbsp;&nbsp;<a href="{getUrl('act','dispBoardWriteComment','document_srl',$oDocument->document_srl)}" class="buttonOfficial"><span style=" width:100px; text-align:center;">{$lang->cmd_comment_registration}</span></a>
		<!--@elseif($grant->write_comment && $oDocument->isEnableComment() && $module_info->write_comment=="button_view")-->
			&nbsp;&nbsp;<a onclick="document.getElementById('div_comment_form').style.display='inline';this.style.display='none';" style="pointer:cursor;" class="buttonOfficial"><span style=" width:100px; text-align:center;">{$lang->cmd_comment_registration}</span></a>
		<!--@end-->
		</div>

		<!--@if($grant->write_comment && $oDocument->isEnableComment() && ($module_info->write_comment=="Y" || $module_info->write_comment=="button_view" || ($module_info->write_comment=="N" && $grant->manager)) )-->
		<div id="div_comment_form" style="float:left; width:100%; <!--@if($module_info->write_comment=='button_view')-->display:none;<!--@end-->">
			<form action="./" method="post" onsubmit="jQuery(this).find('input').each(function(){if(this.title==this.value)this.value='';});return procFilter(this, insert_comment)" class="boardEditor" <!--@if($module_info->use_comment=="button_view" && !$oDocument->getCommentCount() && $module_info->use_sub!='Y' )-->style="margin-top:35px;"<!--@end-->>
			<input type="hidden" name="mid" value="{$mid}" />
			<input type="hidden" name="document_srl" value="{$oDocument->document_srl}" />
			<input type="hidden" name="comment_srl" value="" />
			<!--<input type="hidden" name="content" value="" />-->
			<!--<input type="hidden" name="content" value="{nl2br(htmlspecialchars($module_info->comment_default))}" />-->
			<input type="hidden" name="content" value="{$module_info->comment_default}" />


				<div class="boardWrite commentEditor">
					<div class="editor">{$oDocument->getCommentEditor()}</div>

					<div class="editorOption" style="width:100%">
					<!--@if(!$is_logged)-->
					   <input type="text" name="nick_name" class="inputText userName" value="{$lang->writer}"  title="{$lang->writer}" onfocus="if(this.value==this.title)this.value='';return false;" />
					   <input type="password" name="password" class="inputText userPw" value="{$lang->password}" title="{$lang->password}" onfocus="if(this.value==this.title)this.value='';return false;" />
					   <input type="text" name="email_address" class="inputText emailAddress" value="{$lang->email_address}" title="{$lang->email_address}" onfocus="if(this.value==this.title)this.value='';return false;" />
					   <input type="text" name="homepage" class="inputText homePage" value="{$lang->homepage}" title="{$lang->homepage}" onfocus="if(this.value==this.title)this.value='';return false;" />
					<!--@end-->

					<!--@if($is_logged)-->
						<input type="checkbox" name="notify_message" value="Y" id="notify_message" class="inputCheck" />
						<label for="notify_message">{$lang->notify}</label>
					<!--@end-->

					<!--@if($module_info->comment_secret_sort=="secret_all")-->
					<input type="hidden" name="is_secret" value="Y" id="is_secret" >
					<label for="is_secret">{$lang->secret_all}</label>
					<!--@elseif ( ($module_info->comment_secret_grant=="member" && $logged_info) || ($module_info->comment_secret_grant=="admin" && $grant->manager ) || $module_info->comment_secret_grant=="all"  || !$module_info->comment_secret_sort )-->
					<input type="checkbox" name="is_secret" value="Y" <!--@if($oDocument->isSecret() || $module_info->comment_secret_sort=="secret")-->checked="checked"<!--@end--> id="is_secret" />
					<label for="is_secret">{$lang->secret}</label>
					<!--@end-->

					</div>
			
					<div class="boardNavigation">
						<!--@if($module_info->display_commentvote=="Y")-->
						<span class="buttonOfficial"><input onclick="doCallModuleAction('document','procDocumentVoteUp',{$oDocument->document_srl});" type="submit" value="추천하며 댓글 등록" accesskey="s" /></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<!--@end-->
						<span class="buttonOfficial"><input type="submit" value="{$lang->cmd_comment_registration}" accesskey="s" /></span>
					</div>

				</div>

			</form>
		</div>
		<!--@end-->
	<!--@end-->
	<!--@end-->

	<!--@if($display_prevnext=="bottom" && ( $prev_num || $next_num))-->
	<ul id="prevnext" style="margin-top:0px; margin-bottom:35px;">
	<!--@foreach($document_list as $no => $document)-->
		{@$document_list_next = $document_list;}
		<!--@if($document->document_srl == $document_srl)-->
			<!--@if( $prev_num )-->
				<!--@for($i=$prev_num;$i>0;$i--)-->
					<!--@if($document_list_next[$no+$i]->document_srl)-->
						<li><a href={getUrl('document_srl',$document_list_next[$no+$i]->document_srl)} style="float:left">> <!--@if($prev_num>1)-->{$i}번째 <!--@end-->윗&nbsp;&nbsp;&nbsp;글 - {$document_list_next[$no+$i]->getTitle($module_info->subject_cut_size)}</a><span style="float:right">{$document_list_next[$no+$i]->getRegdate('Y.m.d')}</span></li>
					<!--@elseif($page==1)-->
						<!--@if($message_first!="Y")--><li>> 더 이상 글이 없습니다</li><!--@end-->
						{@ $message_first="Y";}
					<!--@elseif($page>1)-->
						<li><a href={getUrl('','mid',$mid,'page',$page-1,category,$category,search_keyword,$search_keyword,search_target,$search_target,sort_index,$sort_index,order_type,$order_type)}>> <!--@if($prev_num>1)-->{$i}번째 <!--@end-->윗&nbsp;&nbsp;&nbsp;글 - 이전 페이지 목록으로 이동합니다</a></li>
					<!--@end-->
				<!--@end-->
			<!--@end-->
			<!--@if( $next_num )-->
				<!--@for($i=1;$i<=$next_num;$i++)-->
					<!--@if($document_list_next[$no-$i]->document_srl)-->
						<li <!--@if($prev_num && $next_num && $i==1)-->class="line"<!--@end-->><a href={getUrl('document_srl',$document_list_next[$no-$i]->document_srl)} style="float:left">> <!--@if($next_num>1)-->{$i}번째 <!--@end-->아래글 - {$document_list_next[$no-$i]->getTitle($module_info->subject_cut_size)}</a><span style="float:right">{$document_list_next[$no-$i]->getRegdate('Y.m.d')}</span></li>
					<!--@elseif($page_navigation->last_page==$page)-->
						<!--@if($message_last!="Y")--><li <!--@if($prev_num && $next_num && $i==1)-->class="line"<!--@end-->>> 더 이상 글이 없습니다</li><!--@end-->
						{@ $message_last="Y";}
					<!--@else-->
						<li <!--@if($prev_num && $next_num && $i==1)-->class="line"<!--@end-->>> <a href={getUrl('','mid',$mid,'page',$page+1,category,$category,search_keyword,$search_keyword,search_target,$search_target,sort_index,$sort_index,order_type,$order_type)}><!--@if($next_num>1)-->{$i}번째 <!--@end-->아래글 - 다음 페이지 목록으로 이동합니다</a></li>
					<!--@end-->
				<!--@end-->
			<!--@end-->
		<!--@end-->
	<!--@end-->
	</ul>
	<!--@end-->

<!--@end-->


<!--@if($module_info->view_height)-->
<script>
var view_height={$module_info->view_height};
if(document.getElementById('boardReadBody').offsetHeight<400) document.getElementById('boardReadBody').style.height=view_height;
</script>
<!--@end-->